
<form *ngIf="schemeSelected" style="margin-left: 3rem; margin-right: 3rem">
  <fieldset>
    <legend>Base Info</legend>
    <table class="table table-borderLess ">
      <tbody>
      <tr>
        <th>ResourceName</th>
        <td>{{schemeSelected.resourceName}}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{schemeSelected.version}}</td>
      </tr>
      <tr>
        <th>CreateTime</th>
        <td>{{schemeSelected.createTime | date:"yyyy-MM-dd"}}</td>
      </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <legend>Description</legend>
    <pre>{{schemeSelected.description}}</pre>
  </fieldset>

  <fieldset>
    <legend>Files</legend>
    <ul>
      <li *ngFor="let url_private of schemeSelected.urls" [attr.id]="url_private.fileName.replace('.', '_')">
        <a href="{{url}}/api/app/download?userId={{user._id}}&token={{token}}&description={{url_private.description}}&fileName={{url_private.fileName}}&resourceName={{schemeSelected.resourceName}}">{{url_private.fileName}}</a>
        <a (click)="deleteFile(url_private.fileName, url_private.description, schemeSelected._id)"><i class="fa fa-times-circle" ></i></a>
      </li>
    </ul>
  </fieldset>
</form>



