

<form>

</form>
<h1>scheme-details</h1>
<h1>resourceName: {{schemeSelected.resourceName}}</h1>

<h1>Version: {{schemeSelected.version}}</h1>

<h1>description: {{schemeSelected.description}}</h1>

<h1>createTime: {{schemeSelected.createTime | date:"yyyy-MM-dd"}}</h1>

<div *ngFor="let url of schemeSelected.urls" [attr.id]="url.fileName.replace('.', '_')">
  <a href="http://localhost:3001/api/app/download?userId=5a0269747ac9d897d0f57b60&description={{url.description}}&fileName={{url.fileName}}">{{url.fileName}}</a>
  <i class="fa fa-times-circle fa-2x" (click)="deleteFile(url.fileName, url.description)"></i>
</div>

