

<div class="all-block">
  <p class="total-title">SDK Download</p>


  <div class="module-block" *ngIf="SDKLastVersion_android || SDKLastVersion_ios">
    <p class="sub-title">Native SDK</p>
    <div class="divider"></div>

    <p class="project-title" *ngIf="SDKLastVersion_android">{{SDKLastVersion_android}}</p>
    <p class="project-title" *ngIf="SDKLastVersion_ios">{{SDKLastVersion_ios}}</p>
  </div>


  <div class="module-block" >
    <p class="sub-title">RN SDK</p>
    <div class="divider"></div>

    <p class="project-title">RN SDK_Android 2.0.5.0</p>
    <p class="project-title">RN SDK_IOS 2.0.5.0</p>
  </div>

  <div class="module-block" *ngIf="LibraryLastVersion_android || LibraryLastVersion_ios">
    <p class="sub-title">Library SDK</p>
    <div class="divider"></div>

    <p class="project-title" *ngIf="LibraryLastVersion_android">{{LibraryLastVersion_android}}</p>
    <p class="project-title" *ngIf="LibraryLastVersion_ios">{{LibraryLastVersion_ios}}</p>
  </div>


  <div class="module-block" *ngIf="LayerAppLastVersion_android || LayerAppLastVersion_ios">
    <p class="sub-title">Layered APP</p>
    <div class="divider"></div>

    <p class="project-title" *ngIf="LayerAppLastVersion_android">{{LayerAppLastVersion_android}}</p>
    <p class="project-title" *ngIf="LayerAppLastVersion_ios">{{LayerAppLastVersion_ios}}</p>
  </div>


</div>
