


<div style="margin-left: 10%; margin-right: 10%" >

  <p style="margin-top: 30px;
  margin-bottom: 30px; font-size: 30px; font-weight: bold">Enterprise Development Group</p>

  <p style="font-size: 1.2rem">Why should you become the master developer? The master developer will have the following additional permissions:</p>
  <ul>
    <li>You can register your APP, apply for using SDK solutions.</li>
    <li>You can download the SDK's documentation.</li>
    <li>You can experience the latest SDK.</li>
    <li>You will receive a notification when there are updates.</li>
  </ul>

  <p style="font-size: 1.2rem">
    How to become a master developer?
  </p>
  <P>Very easy, click on the button below and fill in the company info to complete.</P>


  <div class="card card-width" style="margin-top: 20px">
    <div class="card-body">

      <p>Apply for enterprise master developer</p>
      <a class="btn btn-primary" routerLinkActive="active" routerLink="/development-apply-master">Apply</a>
    </div>
  </div>
</div>

