<!--/.Navbar-->
<div id="wrapper">

  <div id="wrapper-container">

    <nav class="navbar navbar-expand-lg">

      <!--如果导航栏在小屏幕上，则收起右边的内容-->

      <div class="container">

        <a class="navbar-brand waves-effect" routerLink="./">iHealth</a>


        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#nav-content" aria-controls="nav-content" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse " id="nav-content">


          <ul class="navbar-nav ml-auto"  *ngIf="!user">
            <li class="nav-item waves-effect">
              <a class="nav-link" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
            </li>
            <li class="nav-item waves-effect">
              <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto"  *ngIf="user">
            <li class="nav-item waves-effect">
              <a class="nav-link" (click)="signOut()"  routerLinkActive="active">Sign out</a>
            </li>
          </ul>

        </div>
        <!-- Collapsible content -->
      </div>

    </nav>
    <router-outlet></router-outlet>
    <a id="menu-toggle"><i class="material-icons">menu</i></a>
    <div id="mask"></div>
  </div>

  <div id="slide-out">

    <ul>
      <li><div>
        <a><img src="../../../assets/images/ihealth-logo.png"></a>
        <button id="appear">返回</button>
      </div></li>
      <li><div></div></li>
      <li><a href="#!"><i >cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
  </div>
</div>


