

<nav class="navbar white fixed-top" style="height: 62px">

  <div class="custom-nav">

    <div class="menu">
      <a><i class="fa fa-reorder" id="menu-toggle"></i></a>
    </div>

    <div class="menu-logo waves-effect" routerLink="/">
      <a><img src="../../../assets/images/ihealth-logo.png"></a>
    </div>
    <div style="align-self: flex-end; font-size: 20px; margin-left: 5px; padding-top: 10px">
      Developer
    </div>

  </div>

  <div class="user">

    <div *ngIf="!user">
      <a class="waves-effect" routerLink="/" routerLinkActive="active">
        <img src="../../../assets/images/notice.png">
      </a>
      <a class="waves-effect" routerLink="/sign-in" routerLinkActive="active">
        <img src="../../../assets/images/login.png">
        <a>Sign in</a>
      </a>
    </div>

    <div *ngIf="user">
      <a class="waves-effect" (click)="signOut()" routerLinkActive="active">
        <img src="../../../assets/images/user.png">
      </a>
    </div>

  </div>

</nav>
<!--/.Navbar-->
<div class="wrapper toggled">

  <div class="wrapper-container">

    <router-outlet></router-outlet>

    <!--当屏幕小于992时，打开侧边栏时的阴影-->
    <div class="mask"></div>
  </div>

  <div class="slide-out">

    <ul class="accoraccordiondion" id="accordionId">
      <li class="class-li">
        <a data-toggle="collapse" data-parent="#accordionId"
           aria-expanded="false" data-target="#collapseTwo" class="collapsed">
          <b style="font-size: 16px">SDK</b>
          <i class="fa fa-angle-down rotate-icon fa-position"></i>
        </a>
        <ul id="collapseTwo" class="collapse show" style="font-size: 14px">
          <li><a routerLinkActive="active">Native SDK</a></li>
          <li><a routerLinkActive="active">RN SDK</a></li>
          <li><a routerLinkActive="active">Library SDK</a></li>
          <li><a routerLinkActive="active">Layer App</a></li>
        </ul>
      </li>
      <li>
        <div class="divider"></div>
      </li>

      <li>
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionId"
           aria-expanded="false" data-target="#collapseOne">
          <b style="font-size: 16px">Scheme</b>
          <i class="fa fa-angle-down rotate-icon fa-position"></i>
        </a>

        <ul id="collapseOne" class="collapse" style="font-size: 14px">
          <li><a routerLinkActive="active" routerLink='/scheme-main/SDK'>SDK scheme</a></li>
          <li><a routerLinkActive="active" routerLink='/scheme-main/LayerApp'>LayerApp scheme</a></li>
          <li><a routerLinkActive="active" routerLink='/scheme-main/Library'>Library scheme</a></li>
        </ul>
      </li>

      <li>
        <div class="divider"></div>
      </li>



    </ul>


  </div>
</div>




