
.custom-nav {
  display: flex;
  align-items: center;
}

.custom-nav .menu {
  display: inline-block;
}

.custom-nav .menu-logo {
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 0;
  display: inline-block;
  outline: none;
}

.custom-nav .menu-logo a img{
  vertical-align: middle;
}

.user {
  display: inline-block;
  float: right;
}

.user a {
  color: #333;
  padding: 5px;
  vertical-align: middle
}


.vertical-divider {
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #bbbbbb;
  vertical-align: middle
}


/*阴影*/
.slide-out {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.slide-out {
  z-index: 1000;
  position: fixed;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  transform: translateX(-100%);
}

.slide-out > ul {
  list-style: none;
  padding: 0;
}

/*边栏内容样式 li*/
.slide-out li {
  display: list-item;
  padding-bottom: 5px;
  line-height: 40px;
  border: 0;
  outline: none;
}

.slide-out li > a {
  display: block;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

/*font 靠右显示*/
.fa-position {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
}

/*transform 不能作用于 inline 标签*/
.slide-out li > a:not(.collapsed) .rotate-icon{
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;

  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

}


.slide-out li > a:hover {
  text-decoration: none;
  color: #fff;
  background: darkgray;
}

.slide-out li > a.active {
  text-decoration: none;
  color: #FFFFFF;
  background: rgba(72,198,255,.8);
}


/*分割线*/
.divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*过渡时间*/
.slide-out, .wrapper-container {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.wrapper.toggled .slide-out {
  transform: translateX(0%);
  /*width: 300px;*/
}

.wrapper {
  position: fixed;
  margin-top: 62px;
}

.wrapper-container {
  top:62px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.wrapper.toggled .wrapper-container {
  left: 250px;
}


/*侧边栏li > ul样式*/
li ul {
  list-style: none;
  padding: 0;
}

li ul li > a {
  padding-left: 40px;
}

li ul li > a:hover {
  text-decoration: none;
  color: #fff;
  background: darkgray;
}

li ul li > a.active {
  text-decoration: none;
  color: #FFFFFF;
  background: rgba(72,198,255,.8);
}


/*当屏幕小于992时，显示显示样式*/
@media screen and (max-width: 992px) {

  .wrapper.toggled .wrapper-container {
    left: 0;
  }

  .wrapper.toggled .mask {
    background: black;
    opacity: 0.5;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .slide-header a {
    padding-right: 32%;
  }
}
