

<nav class="navbar white fixed-top" style="height: 62px">

  <div class="custom-nav">

    <div class="menu">
      <a id="menu-toggle"><img src="../../../assets/images/sidebar.png"></a>
    </div>

    <div class="menu-logo waves-effect" routerLink="/">
      <a><img src="../../../assets/images/ihealth-logo.png"></a>
    </div>
    <div style="align-self: flex-end; font-size: 20px; margin-left: 5px; padding-top: 10px">
      Developer
    </div>

  </div>

  <div class="user">

    <div *ngIf="!user">
      <a class="waves-effect" routerLink="/" routerLinkActive="active">
        <img src="../../../assets/images/notice.png">
      </a>
      <a class="waves-effect" routerLink="/sign-in" routerLinkActive="active">
        <img src="../../../assets/images/login.png">
        <a>Sign in</a>
      </a>
    </div>

    <div *ngIf="user">
      <a class="waves-effect" routerLink="/" routerLinkActive="active">
        <img src="../../../assets/images/notice.png">
      </a>
      <a class="waves-effect" (click)="signOut()" routerLinkActive="active">
        <img src="../../../assets/images/user.png">
      </a>
    </div>

  </div>

</nav>
<!--/.Navbar-->
<div class="wrapper toggled">

  <div class="wrapper-container">

    <router-outlet></router-outlet>

    <!--当屏幕小于992时，打开侧边栏时的阴影-->
    <div class="mask"></div>
  </div>


  <!--增加data-parent字段可实现百叶窗效果-->
  <div class="slide-out">

    <ul class="accoraccordiondion" id="accordionId">

      <li class="class-li">
        <a data-toggle="collapse"
        aria-expanded="false" data-target="#document_collapse">
          <b style="font-size: 16px">SDK Document</b>
          <i class="fa fa-angle-up rotate-icon fa-position"></i>
        </a>

        <ul id="document_collapse" class="collapse show" style="font-size: 14px">
          <li><a routerLinkActive="active" [routerLink]="['document-main', 'NativeSDK']">Native SDK Document</a></li>
          <li><a routerLinkActive="active" [routerLink]="['document-main', 'RNSDK']">RN SDK Document</a></li>
          <li><a routerLinkActive="active" [routerLink]="['document-main', 'LibrarySDK']">Library SDK Document</a></li>
          <li><a routerLinkActive="active" [routerLink]="['document-main', 'LayerApp']">Layer App Document</a></li>
        </ul>
      </li>

      <li>
        <a id="development_primary"
           data-target="#development_collapse" data-toggle="collapse"
           aria-expanded="false"  routerLink="/development-primary" routerLinkActive="active">
          <b style="font-size: 16px">Enterprise Development</b>
          <i class="fa fa-angle-up rotate-icon fa-position"></i>
        </a>

        <ul id="development_collapse" class="collapse show" style="font-size: 14px">
          <li><a routerLinkActive="active" routerLink='/development-main'>SDK scheme</a></li>
          <li><a routerLinkActive="active" routerLink='/scheme-main/LayerApp'>LayerApp scheme</a></li>
          <li><a routerLinkActive="active" routerLink='/scheme-main/Library'>Library scheme</a></li>
        </ul>
      </li>

      <li class="class-li">
        <a data-toggle="collapse"
           aria-expanded="false" data-target="#Download_collapse">
          <b style="font-size: 16px">SDK Download</b>
          <i class="fa fa-angle-up rotate-icon fa-position"></i>
        </a>
        <ul id="Download_collapse" class="collapse show" style="font-size: 14px">
          <li><a routerLinkActive="active" [routerLink]="['/manager-main', 1]">Native SDK</a></li>
          <li><a routerLinkActive="active">RN SDK</a></li>
          <li><a routerLinkActive="active">Library SDK</a></li>
          <li><a routerLinkActive="active">Layer App</a></li>
        </ul>
      </li>
      <li>
        <div class="divider"></div>
      </li>

      <li>
        <a data-toggle="collapse"
           aria-expanded="false" data-target="#scheme_collapse">
          <b style="font-size: 16px">Scheme</b>
          <i class="fa fa-angle-up rotate-icon fa-position"></i>
        </a>

        <ul id="scheme_collapse" class="collapse show" style="font-size: 14px">
          <li><a routerLinkActive="active" routerLink='/scheme-main/SDK'>SDK scheme</a></li>
          <li><a routerLinkActive="active" routerLink='/scheme-main/LayerApp'>LayerApp scheme</a></li>
          <li><a routerLinkActive="active" routerLink='/scheme-main/Library'>Library scheme</a></li>
        </ul>
      </li>

      <li>
        <div class="divider"></div>
      </li>






    </ul>


  </div>
</div>




