<form id="registerAppForm" style="margin-left: 10%; width: 70%" novalidate enctype="multipart/form-data" #myForm="ngForm">

  <P style="margin-top: 15px; margin-bottom: 30px;font-size: 30px">Register App</P>

  <div class="radio-block">

    <p>Platform</p>

    <label>
      <input name="platform" type="radio" value="android" checked/> Android
    </label>

    <label>
      <input name="platform" type="radio" value="ios"/> IOS
    </label>

  </div>

  <div class="input-block">
    <label for="id_name">App Name</label>
    <input name="id_name" id="id_name" type="text" [(ngModel)]="appName"
           #appNameValid="ngModel" pattern="^[a-zA-Z_]{1}(?:(?=.*\s*))[\w\s]{0,99}$" required>

    <p *ngIf="!appNameValid.pristine&&appNameValid.invalid" style="color: #ee2200">Please input valid App name.</p>
  </div>

  <div class="input-block">
    <label for="id_bundle">BundleId/Package Name</label>
    <input id="id_bundle" type="text" name="id_bundle" [(ngModel)]="bundleIdOrPackageName"
           #bundleId="ngModel" pattern="^(?:(?=.*\w.*)(?=.*\s*))[\w\s\.]{3,100}$" required>

    <p *ngIf="!bundleId.pristine&&bundleId.invalid" style="color: #ee2200">Please input valid bundleId or package name.</p>
  </div>

  <div class="input-block">
    <label for="id_description">Description</label>
    <textarea id="id_description" type="text" name="id_description" [(ngModel)]="description"
              #descriptionValid="ngModel" [rangeLength]="[20,100]" required></textarea>

    <p *ngIf="!descriptionValid.pristine&&descriptionValid.invalid" style="color: #ee2200">Please input valid description.</p>
  </div>

  <div class="license-block">
    <p>App icon</p>
    <a style="position: absolute"><img id="preview" src="../../../../assets/images/addPic.png"
                                       style="width: 80px; height: 80px"></a>
    <div>
      <input type="file" name="icon" style="width: 80px;height: 80px;opacity: 0;" (change)="previewImg($event)"
             accept="image/*">
      <p *ngIf="!appIcon" style="color: #ee2200">You must input app icon.</p>
    </div>
  </div>

  <div class="dropdown-block">

    <div>
      <label>SDK Scheme</label>
      <select class="mdb-select" name="SDK_Scheme" [(ngModel)]="scheme">
        <option value="NativeSDK">Native SDK</option>
        <option value="RNSDK">RN SDK</option>
        <option value="LibrarySDK">Library SDK</option>
        <option value="LayerApp">Layer APP</option>
      </select>
    </div>

    <div>
      <label>BG Code Type</label>

      <select class="mdb-select" name="BG_TYPE" [(ngModel)]="codeType">
        <option value="GDH">GDH</option>
        <option value="GOD">GOD</option>
        <option value="GOD&GDH">GOD&GDH</option>
      </select>

    </div>


  </div>

  <P style="margin-top: 15px; margin-bottom: 30px;font-size: 30px">Set License</P>

  <div class="data-block">

    <label>License Expired Date</label>


    <div>
      <input style="outline: none;border: 0; line-height: 2.1rem" placeholder="Set Expired Date" type="number" id="expiredDate" required
             class="datapicker" readonly name="expiredDate">

    </div>

    <p *ngIf="!expiredDate" style="color: #ee2200">Please input valid expired date.</p>

  </div>


  <div style="margin-top: 15px">
    <label>Select The Device</label>

    <div class="form-custom">
      <div class="form-custom-head">
        <p class="custom-item1">No.</p>
        <p class="custom-item2">Device Model</p>
        <p class="custom-item1">Total Number</p>
        <p class="custom-item4">Operation</p>
      </div>

      <div id="form-content" class="form-custom-content" *ngFor="let deviceSelected of deviceSelectList let i = index">
        <div>
          <p class="custom-item1">0{{i + 1}}</p>
          <div class="custom-item2">

            <div class="selectDevice-block" [attr.data-target]="'#exampleModal' + i" data-toggle="modal">
              <img src="../../../../assets/images/device_{{deviceSelected.model | lowercase}}.png"
                   style="height: 2rem; width: 2rem">
              <a>{{deviceSelected.model}}</a>
            </div>

            <!-- Modal -->
            <div class="modal fade" [attr.id]="'exampleModal' + i" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" style="width: 50%; max-width: 100%">
                <div class="modal-content">
                  <div class="modal-body" style="padding: 0">
                    <div class="selectDevice-title">
                      <a data-dismiss="modal"><img src="../../../../assets/images/x.png"></a>
                      <p>Select A Device</p>
                    </div>

                    <div style="text-align: left">
                      <div class="selectDevice-deviceTile">
                        Blood Pressure
                      </div>
                      <div class="selectDevice-deviceBlock">
                        <div  (click)="deviceList[0].isValid? selectDevice(i, 'BP3'): null" [class]="deviceList[0].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_bp3.png">
                          <p>BP3</p>
                        </div>
                        <div (click)="deviceList[1].isValid? selectDevice(i, 'BP3M'): null" [class]="deviceList[1].isValid? 'selectDevice-device': 'selectedDevice-device'" >
                          <img src="../../../../assets/images/device_bp3m.png">
                          <p>BP3M</p>
                        </div>
                        <div (click)="deviceList[2].isValid? selectDevice(i, 'BP3L'): null" [class]="deviceList[2].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_bp3l.png">
                          <p>Ease</p>
                          <p>(BP3L)</p>
                        </div>
                        <div (click)="deviceList[3].isValid? selectDevice(i, 'BP5'): null" [class]="deviceList[3].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_bp5.png">
                          <p>Feel</p>
                          <p>(BP5)</p>
                        </div>
                        <div (click)="deviceList[4].isValid? selectDevice(i, 'BP7'): null" [class]="deviceList[4].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_bp7.png">
                          <p>BP7</p>
                        </div>
                        <div (click)="deviceList[5].isValid? selectDevice(i, 'BP7S'): null" [class]="deviceList[5].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_bp7s.png">
                          <p>View</p>
                          <p>(BP7S)</p>
                        </div>
                        <div (click)="deviceList[6].isValid? selectDevice(i, 'BPM1'): null" [class]="deviceList[6].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_bpm1.png">
                          <p>Clear</p>
                          <p>(BPM1)</p>
                        </div>


                      </div>
                    </div>

                    <div style="text-align: left; display: flex; margin-left: 5%; margin-right: 5%">
                      <div style="flex: 3; margin-right: 10px">
                        <div class="selectDevice-deviceTile" style="opacity: 0">
                          空
                        </div>
                        <div class="selectDevice-deviceBlock" style="margin: 0">
                          <div (click)="deviceList[7].isValid? selectDevice(i, 'KN-550BT'): null" [class]="deviceList[7].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_kn-550bt.png">
                            <p>Track</p>
                            <p>(KN550BT)</p>
                          </div>
                          <div (click)="deviceList[8].isValid? selectDevice(i, 'ABI'): null" [class]="deviceList[8].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_abi.png">
                            <p>CardioLab</p>
                            <p>(ABI)</p>
                          </div>
                          <div (click)="deviceList[9].isValid? selectDevice(i, 'ABP100'): null" [class]="deviceList[9].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_abp100.png">
                            <p>CardioMed</p>
                            <p>(ABP100)</p>
                          </div>
                        </div>
                      </div>

                      <div style="flex: 3; margin-right: 10px">
                        <div class="selectDevice-deviceTile">
                          Sports
                        </div>
                        <div class="selectDevice-deviceBlock" style="margin: 0">
                          <div (click)="deviceList[10].isValid? selectDevice(i, 'AM3'): null" [class]="deviceList[10].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_am3.png">
                            <p>AM3</p>
                          </div>
                          <div (click)="deviceList[11].isValid? selectDevice(i, 'AM3S'): null" [class]="deviceList[11].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_am3s.png">
                            <p>Edge</p>
                            <p>(AM3S)</p>
                          </div>
                          <div (click)="deviceList[12].isValid? selectDevice(i, 'AM4'): null" [class]="deviceList[12].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_am4.png">
                            <p>Wave</p>
                            <p>(AM4)</p>
                          </div>

                        </div>
                      </div>

                      <div style="flex: 1">
                        <div class="selectDevice-deviceTile">
                          Oxygen
                        </div>
                        <div class="selectDevice-deviceBlock" style="margin: 0">
                          <div (click)="deviceList[13].isValid? selectDevice(i, 'PO3'): null" [class]="deviceList[13].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_po3.png">
                            <p>PO3</p>
                            <p style="opacity: 0">PO3</p>
                          </div>

                        </div>
                      </div>

                    </div>

                    <div style="text-align: left">
                      <div class="selectDevice-deviceTile">
                        Weight
                      </div>
                      <div class="selectDevice-deviceBlock">
                        <div (click)="deviceList[14].isValid? selectDevice(i, 'HS2'): null" [class]="deviceList[14].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs2.png">
                          <p>Lina</p>
                          <p>(HS2)</p>
                        </div>
                        <div (click)="deviceList[15].isValid? selectDevice(i, 'HS3'): null" [class]="deviceList[15].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs3.png">
                          <p>HS3</p>
                        </div>
                        <div (click)="deviceList[16].isValid? selectDevice(i, 'HS4'): null" [class]="deviceList[16].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs4.png">
                          <p>Lite</p>
                          <p>(HS4)</p>
                        </div>
                        <div (click)="deviceList[17].isValid? selectDevice(i, 'HS4S'): null" [class]="deviceList[17].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs4s.png">
                          <p>Lite</p>
                          <p>(HS4S)</p>
                        </div>
                        <div (click)="deviceList[18].isValid? selectDevice(i, 'HS5'): null" [class]="deviceList[18].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs5.png">
                          <p>HS5</p>
                        </div>
                        <div (click)="deviceList[19].isValid? selectDevice(i, 'HS5S'): null" [class]="deviceList[19].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs5s.png">
                          <p>Vista</p>
                          <p>(HS5S)</p>
                        </div>
                        <div (click)="deviceList[20].isValid? selectDevice(i, 'HS6'): null" [class]="deviceList[20].isValid? 'selectDevice-device': 'selectedDevice-device'">
                          <img src="../../../../assets/images/device_hs6.png">
                          <p>Core</p>
                          <p>(HS6)</p>
                        </div>

                      </div>
                    </div>
                    <div style="text-align: left; display: flex; margin-left: 5%; margin-right: 5%">
                      <div style="flex: 3; margin-right: 10px">
                        <div class="selectDevice-deviceTile">
                          Blood Glucose
                        </div>
                        <div class="selectDevice-deviceBlock" style="margin: 0">
                          <div (click)="deviceList[21].isValid? selectDevice(i, 'BG1'): null" [class]="deviceList[21].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_bg1.png">
                            <p>Align</p>
                            <p>(BG1)</p>
                          </div>
                          <div (click)="deviceList[22].isValid? selectDevice(i, 'BG5'): null" [class]="deviceList[22].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_bg5.png">
                            <p>Smart</p>
                            <p>(BG5)</p>
                          </div>
                          <div (click)="deviceList[23].isValid? selectDevice(i, 'BG5S'): null" [class]="deviceList[23].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_bg5s.png">
                            <p>Gluco+</p>
                            <p>(BG5S)</p>
                          </div>
                        </div>
                      </div>

                      <div style="flex: 1; margin-bottom: 2rem">
                        <div class="selectDevice-deviceTile">
                          Oxygen
                        </div>
                        <div class="selectDevice-deviceBlock" style="margin: 0">
                          <div (click)="deviceList[24].isValid? selectDevice(i, 'ECG3'): null" [class]="deviceList[24].isValid? 'selectDevice-device': 'selectedDevice-device'">
                            <img src="../../../../assets/images/device_ecg3.png">
                            <p>Rhythm</p>
                            <p>(ECG3)</p>
                          </div>

                        </div>
                      </div>

                      <div style="flex: 3;">

                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="custom-item1">

            <!--<input  style="outline: none" class="selectDevice-number" [name]="'devicetotalNumber' + i" [(ngModel)]="deviceSelected.totalNumber" type="number">-->

            <select [name]="'devicetotalNumber' + i" [(ngModel)]="deviceSelected.totalNumber">
              <option *ngFor="let deviceNumber of deviceNumberList">{{deviceNumber}}</option>
            </select>
          </div>
          <a class="custom-item4" (click)="deleteDevice(i)"><img src="../../../../assets/images/delete.png"></a>
        </div>
      </div>

      <div class="form-custom-end">
        <p>Add a new device</p>
        <a id="add-device" (click)="addDevice()"><img src="../../../../assets/images/add.png"></a>
      </div>

    </div>

  </div>

  <div class="submit-block">
    <button class="btn btn-primary" (click)="registerApp()"
            [disabled]="(!(myForm.form.valid && expiredDate !== 10 && expiredDate && appIcon) || buttonDisable)">Submit</button>
  </div>

</form>
