
<div class="card top-marge">
  <div class="card-body">

    <form id="createForm" novalidate="novalidate" enctype="multipart/form-data">

      <div class="md-form">
        <input name="version" id="version" required class="form-control" type="text" (keyup)="onlyNumber(this)" (blur)="onlyNumber(this)"
               [(ngModel)]="version" maxlength="10">
        <label for="version">Version</label>
      </div>

      <div class="md-form">
        <textarea style="height: 100px" name="description" id="description" required class="form-control"
                  type="text" [(ngModel)]="description"></textarea>
        <label for="description">Description</label>
      </div>


      <div class="md-form">
        <span>Platform:</span>
        <input type="radio" value="android" name="platform">Android
        <input type="radio" value="ios" name="platform" checked>IOS
      </div>

      <div class="md-form">
        <span>Beta:</span>
        <input type="radio" value="true" name="beta">true
        <input type="radio" value="false" name="beta" checked>false
      </div>


      <div class="md-form">
        <span>Origin:</span>
        <input type="checkbox" value="true" name="CN" checked [(ngModel)]="CN">China
        <input type="checkbox" value="true" name="AS" checked [(ngModel)]="AS">Asia Pacific
        <input type="checkbox" value="true" name="NA" checked [(ngModel)]="NA">North America
        <input type="checkbox" value="true" name="LA" checked [(ngModel)]="LA">South America
        <input type="checkbox" value="true" name="OA" checked [(ngModel)]="OA">South Africa
        <input type="checkbox" value="true" name="ME" checked [(ngModel)]="ME">Middle East
        <input type="checkbox" value="true" name="AF" checked [(ngModel)]="AF">Africa
        <input type="checkbox" value="true" name="EU" checked [(ngModel)]="EU">Europe
        <input type="checkbox" value="true" name="RU" checked [(ngModel)]="RU">Russia
      </div>


      <div id="inputView">
        <div *ngFor="let file of fileSelectList, let i = index" [id]="'file' + fileSelectList[i]">
          <input type="file" name="thumbnail"/>
          <a class="add" (click)="addFile()"><i class="fa fa-plus"></i></a>
          <a class="delete" (click)="deleteFile(i)"><i class="fa fa-minus"></i></a>
        </div>
      </div>


      <button class="btn btn-primary" (click)="submitForm()">Submit</button>
    </form>

  </div>

</div>




