
<div class="card top-marge">
  <div class="card-body">

    <form id="createForm" novalidate="novalidate" enctype="multipart/form-data">


      <table>
        <tbody>
        <tr><input name="_id" [(ngModel)]="selectedScheme._id" hidden></tr>
        <tr>
          <th class="w-110px" >ResourceName</th>
          <td>{{selectedScheme.resourceName}}</td>
          <td><input name="resourceName" [(ngModel)]="selectedScheme.resourceName" hidden></td>

        </tr>
        <tr>
          <th class="w-110px">Version</th>
          <td>{{selectedScheme.version}}</td>
          <td><input name="version" [(ngModel)]="selectedScheme.version" hidden></td>
        </tr>
        <tr>
          <th class="w-110px">Description</th>
          <td>
            <div>
              <textarea name="description" cols ="100" style="width: 100%; height: 100px;" [(ngModel)]="selectedScheme.description">

              </textarea>
              <!--<p>{{selectedScheme.description}}</p>-->
            </div>
          </td>
        </tr>

        <tr>
          <th class="w-110px">Beta</th>
          <td>
            <input type="radio" value="true" name="beta">true
            <input type="radio" value="false" name="beta" checked>false
          </td>
        </tr>

        <tr>
          <th class="w-110px">Upload File</th>
          <td id="inputView">
            <div>
              <input type="file" name="addFile"/>
              <a class="add"><i class="fa fa-plus"></i></a>
              <a class="delete"><i class="fa fa-minus"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-primary" (click)="submitForm()">Submit</button>
    </form>

  </div>

</div>

