
<div class="card top-marge" *ngIf="selectedScheme">
  <div class="card-body">

    <form id="createForm" novalidate="novalidate" enctype="multipart/form-data">


      <table>
        <tbody>
        <tr>
          <th class="w-110px" >ResourceName</th>
          <td>{{selectedScheme.resourceName}}</td>

        </tr>
        <tr>
          <th class="w-110px">Version</th>
          <td>{{selectedScheme.version}}</td>
        </tr>
        <tr>
          <th class="w-110px">Description</th>
          <td>
            <div>
              <textarea name="description" cols ="100" style="width: 100%; height: 100px;" [(ngModel)]="selectedScheme.description">

              </textarea>
              <!--<p>{{selectedScheme.description}}</p>-->
            </div>
          </td>
        </tr>

        <tr>
          <th class="w-110px">Platform</th>
          <td>{{selectedScheme.platform}}</td>
        </tr>

        <tr>
          <th class="w-110px">Beta</th>
          <td>
            <input type="radio" [value]="true" name="beta1" [(ngModel)]="selectedScheme.beta" >true
            <input type="radio" [value]="false" name="beta1" [(ngModel)]="selectedScheme.beta">false
          </td>
        </tr>

        <tr>
          <th class="w-110px">Origin</th>
          <td>
            <input type="checkbox" value="true" name="CN" checked [(ngModel)]="CN">中国
            <input type="checkbox" value="true" name="AS" checked [(ngModel)]="AS">亚太
            <input type="checkbox" value="true" name="NA" checked [(ngModel)]="NA">北美
            <input type="checkbox" value="true" name="LA" checked [(ngModel)]="LA">南美
            <input type="checkbox" value="true" name="OA" checked [(ngModel)]="OA">南非
            <input type="checkbox" value="true" name="ME" checked [(ngModel)]="ME">中东
            <input type="checkbox" value="true" name="AF" checked [(ngModel)]="AF">非洲
            <input type="checkbox" value="true" name="EU" checked [(ngModel)]="EU">欧洲
            <input type="checkbox" value="true" name="RU" checked [(ngModel)]="RU">俄罗斯
          </td>
        </tr>


        <tr>
          <th class="w-110px">Upload File</th>
          <td id="inputView">
            <div *ngFor="let file of fileSelectList; let i = index" [id]="'file' + fileSelectList[i]">
              <input type="file" name="addFile"/>
              <a class="add" (click)="addFile()"><i class="fa fa-plus"></i></a>
              <a class="delete" (click)="deleteFile(i)"><i class="fa fa-minus"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-primary" (click)="submitForm()">Submit</button>
    </form>

  </div>

</div>

