
<div class="card top-marge">
  <div class="card-body">

    <form novalidate="novalidate" (submit)="uploadFile()" >


      <table>
        <tbody>
        <tr>
          <th class="w-110px" >ResourceName</th>
          <td>{{selectedScheme.resourceName}}</td>
        </tr>
        <tr>
          <th class="w-110px">Version</th>
          <td>{{selectedScheme.version}}</td>
        </tr>
        <tr>
          <th class="w-110px">Description</th>
          <td>
            <div>
              <textarea name="descriptionArea" cols ="100" style="width: 100%; height: 100px;" [(ngModel)]="selectedScheme.description">

              </textarea>
              <!--<p>{{selectedScheme.description}}</p>-->
            </div>
          </td>
        </tr>

        <tr>
          <th class="w-110px">Beta</th>
          <td>
            <input type="radio" value="true" name="beta">true
            <input type="radio" value="false" name="beta" checked>false
          </td>
        </tr>

        <tr>
          <th class="w-110px">Upload File</th>
          <td id="inputView">
            <div>
              <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
            </div>
            <div>
              <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
            </div>
            <div>
              <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


      <button class="btn btn-primary" type="submit">Submit</button>
    </form>

  </div>

</div>

