.customBlock {
    height: 60px;
    width: 245px;
    background-color: #ffa726;
    display: inline-flex;
    border-radius: 30px;
    cursor:pointer;
    margin-left: 2px;
    margin-top: 2px;
    transition: 0.5s;
}
.customBlock img {
    width: 58px;
    height: 58px;
    margin: 3px;
}

.customBlock p {
    font-size: 12px;
    margin: 6px 0px 6px 0px;
    display: inline;
}

.customBlock input {
    display: inline;
    font-size: 12px;
    width: 40px;
    margin: 0px;
    padding: 0px;

}

.wrap {
    width:100%;
    display: flex;
    flex-wrap:wrap;
}

.card-body {
    padding: 10px;
}

/*让文本上下居中*/
.card-header h4 {
    padding: 10px;
    margin: 0px;
}

/*设置总标题的外边距*/
.container .card {
    margin: 50px 0px 10px 0px;
}


/*当未选择设备时，显示区域的大小*/
.not-selected {
  height: 100px;
}

/*使✘居中*/
i {
  margin-top: 5px;
}

/*标题圆角*/
.card-header-tabs {
  border-radius: 5px;
  height: 70px;
}

/*h4标题上下居中*/
.card-header-tabs h4 {
  margin-top: 20px;
}

/*按钮的宽度*/
.button-width {
  width: 300px;
}
