<div class="container">


  <div class="row justify-content-center">


    <div class="col-10">

      <div class="card ">
        <div class="card-header-tabs primary-color white-text">
          <h4 class="text-center">Create a new license.</h4>
        </div>
        <div class="card-header z-depth-1">
          <h4>Expired Date</h4>
        </div>
        <div class="card-body">

          <div class="md-form">
            <i class="fa fa-calendar prefix"></i>
            <input placeholder="Set Expired Date" type="number" id="installedPhoneNumber" required="required"
                   class="datapicker"
                   #installedPhoneNumber readonly>
          </div>

        </div>

        <div class="card-header z-depth-1">
          <div class="d-flex justify-content-between">
            <h4>Selected Devices</h4>

            <a class="fa fa-plus-circle fa-3x" data-toggle="modal"
               data-target="#modalContactForm"></a>
          </div>
        </div>
        <div class="card-body">

          <div class="wrap" *ngIf="selectedDevices.length !== 0">
            <div *ngFor="let device of selectedDevices let i = index">

              <div class="customBlock">
                <img src="/../../../../assets/images/device_{{device.deviceName}}.png"/>

                <div>
                  <p>DeviceModule: {{device.deviceName}}</p>
                  <div>
                    <p>DeviceNumber:</p>
                    <input class="form-control" id="device_number" type="number"
                           [(ngModel)]="device.totalNumber">
                  </div>
                </div>
                <i class="fa fa-times-circle-o prefix fa-3x" (click)="deleteDevice(i)"></i>
              </div>
            </div>
          </div>

          <div *ngIf="selectedDevices.length === 0">
            <div class="not-selected d-flex justify-content-lg-center">
              <p class="text-lg">You do not select any devices</p>
            </div>
          </div>

        </div>

        <hr class="m-2">

        <div class="d-flex justify-content-around">
          <button class="btn btn-primary button-width" (click)="createNewLicense(installedPhoneNumber.value, selectedDevices)">Submit</button>
          <button class="btn btn-blue-grey button-width" routerLink="/manager-license">Cancel</button>
        </div>


      </div>


    </div>


  </div>

  <!--Modal: Contact form-->
  <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-lg" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Header-->
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="title"><i class="fa fa-plus-square"></i> Select Devices</h4>
          <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!--Body-->
        <div class="modal-body mb-0">

          <div class="md-form">
            <input required="required" class="form-control" id="deviceNumber" type="text"
                   #deviceNumber>
            <label for="deviceNumber">deviceNumber</label>
          </div>

          <div class="card">
            <div class="card-body">
              <!--Title-->
              <h5 class="card-title">Selected Devices</h5>
              <div class="row">
                <div *ngFor="let key of devices;let i = index;">
                  <div class="device" *ngIf="key.selected && !key.out_select" (click)="cancelSelectDevice(i)">
                    <img src="/../../../../assets/images/device_{{key.deviceName}}.png" width="75">
                  </div>
                </div>
              </div>
              <div *ngIf="selectedDeviceNumber === 0">
                <h6 class="text-lg-center">You have not select a device!</h6>
              </div>

              <!--Title-->
              <h5 class="card-title">None Selected Devices</h5>

              <div class="row">
                <div *ngFor="let key of devices;let i = index">
                  <div class="device" *ngIf="!key.selected && !key.out_selected"
                       (click)="selectDevice(i)">
                    <img src="/../../../../assets/images/device_{{key.deviceName}}.png" width="75">
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="d-flex justify-content-around">
            <button class="btn btn-primary" (click)="confirmDevices(deviceNumber.value)">确定</button>
            <button class="btn btn-blue-grey" data-dismiss="modal">取消</button>

          </div>


        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Contact form-->


</div>


