
<form *ngIf="userInfo">
  <div class="input-block">
    <p style="margin: 0; font-size: 2rem"><b>{{userInfo.username}}</b></p>
    <p style="margin: 0; font-size: 1rem"><b>{{userInfo.email}}</b></p>
  </div>

  <div class="checkbox-block">
    <p>Permission</p>

    <div class="checkbox-line">
      <div class="check-box">
        <input name="createApp" type="checkbox" [(ngModel)]="createApp">
        <p>Create App</p>
      </div>

      <div class="check-box">
        <input name="checkLicenseData" type="checkbox" [(ngModel)]="checkLicenseData">
        <p>Check The License Data</p>
      </div>
    </div>


    <div class="checkbox-line">
      <div class="check-box">
        <input name="editApp" type="checkbox" [(ngModel)]="editApp">
        <p>Edit App</p>
      </div>

      <div class="check-box">
        <input type="checkbox">
        <p>Download SDK</p>
      </div>
    </div>

    <div class="checkbox-line">
      <div class="check-box">
        <input name="deleteApp" type="checkbox" [(ngModel)]="deleteApp">
        <p>Delete App</p>
      </div>

      <!--<div class="check-box">-->
      <!--<input name="addMembers" type="checkbox" [(ngModel)]="addMembers">-->
      <!--<p>Add Members</p>-->
      <!--</div>-->
    </div>

  </div>

  <div class="submit-block">
    <a class="btn btn-primary" (click)="upDatePermission()">Submit</a>
  </div>


</form>
