

<div *ngIf="admin">
  <div style="margin-top: 10%; margin-left: 10%; margin-right: 10%">
    <p style="font-weight: bold; font-size: 1.6rem; text-align: center">Modify second master information</p>
  </div>

  <form style="margin-left:25%; margin-right: 25%; margin-top: 5%">

    <div style="margin-top: 15px">
      <label for="name" style="display: block; font-size: 1rem; font-weight: bold"> Name</label>
      <p style="width: 100%" name="name" id="name">{{admin.username}}</p>
    </div>

    <div style="margin-top: 15px">
      <label for="name" style="display: block; font-size: 1rem; font-weight: bold">Email</label>
      <p style="width: 100%" name="email" id="email">{{admin.email}}</p>
    </div>


    <div style="margin-top: 15px">
      <label for="name" style="display: block; font-size: 1rem; font-weight: bold"> Region</label>
      <input type="radio" value="CN" checked name="origin" [(ngModel)]="admin.orgin">中国
      <input type="radio" value="AS" name="origin" [(ngModel)]="admin.orgin">亚太
      <input type="radio" value="NA" name="origin" [(ngModel)]="admin.orgin">北美
      <input type="radio" value="LA" name="origin" [(ngModel)]="admin.orgin">南美
      <input type="radio" value="OA" name="origin" [(ngModel)]="admin.orgin">南非
      <input type="radio" value="ME" name="origin" [(ngModel)]="admin.orgin">中东
      <input type="radio" value="AF" name="origin" [(ngModel)]="admin.orgin">非洲
      <input type="radio" value="EU" name="origin" [(ngModel)]="admin.orgin">欧洲
      <input type="radio" value="RU" name="origin" [(ngModel)]="admin.orgin">俄罗斯
    </div>


    <a class="btn btn-primary" style="text-transform: none" (click)="updateSecondMaster()">Update</a>

  </form>
</div>


<div id="loading" class="loading" *ngIf="!admin"></div>
