

<div *ngIf="admin">
  <div style="margin-top: 10%; margin-left: 10%; margin-right: 10%">
    <p style="font-weight: bold; font-size: 1.6rem; text-align: center">Modify second master information</p>
  </div>

  <form style="margin-left:25%; margin-right: 25%; margin-top: 5%">

    <div style="margin-top: 15px">
      <label for="name" style="display: block; font-size: 1rem; font-weight: bold"> Name</label>
      <p style="width: 100%" name="name" id="name">{{admin.username}}</p>
    </div>

    <div style="margin-top: 15px">
      <label for="email" style="display: block; font-size: 1rem; font-weight: bold">Email</label>
      <p style="width: 100%" name="email" id="email">{{admin.email}}</p>
    </div>

    <div style="margin-top: 15px">
      <label style="display: block; font-size: 1rem; font-weight: bold">isValid</label>
      <input type="radio" [value]="true" checked name="isValid" [(ngModel)]="admin.isValid">true
      <input type="radio" [value]="false" name="isValid" [(ngModel)]="admin.isValid">false
    </div>


    <div style="margin-top: 15px">
      <label style="display: block; font-size: 1rem; font-weight: bold">Origin</label>
      <input type="checkbox" [value]="true" name="CN" checked [(ngModel)]="CN">China
      <input type="checkbox" [value]="true" name="AS" checked [(ngModel)]="AS">Asia Pacific
      <input type="checkbox" [value]="true" name="NA" checked [(ngModel)]="NA">North America
      <input type="checkbox" [value]="true" name="LA" checked [(ngModel)]="LA">South America
      <input type="checkbox" [value]="true" name="OA" checked [(ngModel)]="OA">South Africa
      <input type="checkbox" [value]="true" name="ME" checked [(ngModel)]="ME">Middle East
      <input type="checkbox" [value]="true" name="AF" checked [(ngModel)]="AF">Africa
      <input type="checkbox" [value]="true" name="EU" checked [(ngModel)]="EU">Europe
      <input type="checkbox" [value]="true" name="RU" checked [(ngModel)]="RU">Russia
    </div>


    <a class="btn btn-primary" style="text-transform: none" (click)="updateSecondMaster()">Update</a>

  </form>
</div>


<div id="loading" class="loading" *ngIf="!admin"></div>
