

<p style="margin-left: 10%; margin-top: 15px; margin-bottom: 30px;font-size: 30px">
  Apply for enterprise developer</p>

<form>

  <div class="input-block">
    <label for="id_country">Country</label>
    <input id="id_country" type="text">
  </div>


  <div class="input-block">
    <label for="id_address">Address</label>
    <input id="id_address" type="text">
  </div>


  <div class="input-block">
    <label for="id_description">Description</label>
    <textarea id="id_description" type="text"></textarea>
  </div>

  <div class="license-block">
    <p>Business license</p>
    <div class="square-big">
      <div class="square-small">
        <div class="row-line"></div>
        <div class="col-line"></div>
      </div>
    </div>

  </div>


  <div class="submit-block">
    <a class="btn btn-primary">Submit</a>
  </div>




</form>
