
.table-wrapper-2 {
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.tag {
  border: 3px solid #cfd8dc;
  position: relative;
  background-color: #FFF;
}

.tag em {
  display: block;
  border-width: 20px;
  position: absolute;
  top: -40px;
  left: 31%;
  border-style: solid dashed dashed;
  border-color: transparent transparent #cfd8dc transparent ;
  font-size: 0;
  line-height: 0;
}

.tag span {
  display: block;
  border-width: 20px;
  position: absolute;
  top: -36px;
  left: 31%;
  border-style: solid dashed dashed;
  border-color: transparent transparent #FFF transparent;
  font-size: 0;
  line-height: 0;
}

.textCenter {
  line-height: 46px;
  height: 46px;
  overflow: hidden;
}

.disabled{
  pointer-events:none;
}

