<div class="container ">

  <div class="card blue-gradient">
    <div class="card-header">
      <div class="row">

        <div class="col-3 textCenter text-center">
          ExpiredDate
        </div>
        <div class="col-2 textCenter text-center">
          Devices
        </div>
        <div class="col-2 textCenter text-center">
          InstallPhoneNum
        </div>
        <div class="col-4 textCenter text-center">
          Operation
        </div>
      </div>

    </div>

  </div>

  <!--Accordion wrapper-->
  <div class="accordion container" id="accordion" role="tablist" aria-multiselectable="true"
       *ngIf="licenses !== undefined && licenses.length !== 0">


    <!-- Accordion card -->
    <div class="card" *ngFor="let license of licenses; let i = index">

      <!-- Card header -->
      <div class="card-header" role="tab" [attr.id]="i + 1000">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#'+ i"
           [attr.aria-expanded]="false">
          <div class="row">
            <div class="col-3 textCenter text-center">
              {{license.expireTime | date:"MM/dd/yyyy"}}
            </div>
            <div class="col-2 textCenter text-center">
              {{license.devices.length}}
            </div>
            <div class="col-2 textCenter text-center">
              {{license.installedPhoneNumber}}
            </div>
            <div class="col-4 text-center" (click)="stop_Propagation(event)">
              <!--<a class="btn btn-primary" href="http://localhost:3001/api/license/{{license._id}}">下载</a>-->
              <span class="fa-stack">
              <i class="fa fa-arrow-circle-down fa-2x hoverable" (click)="downloadLicense(license._id)"></i>
              </span>
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse" (click)="modifyLicense(license._id)"></i>
              </span>
              <span class="fa-stack">
              <i class="fa fa-times-circle fa-2x" (click)="deleteLicense(license._id)"></i>
              </span>
            </div>

            <a class="fa fa-angle-down fa-2x rotate-icon prefix"></a>
          </div>


        </a>
      </div>

      <!-- Card body -->
      <div [attr.id]="i" class="collapse" role="tabpanel" [attr.aria-labelledby]="i + 1000">
        <div class="card-body">
          <div class="tag">
            <em></em>
            <span></span>

            <div class="table-wrapper-2">

              <table class="table">
                <thead>
                <tr>
                  <th>DeviceModel</th>
                  <th>TotalNumber</th>
                  <th>UsedNumber</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let device of license.devices">
                  <td>
                    <img src="/../../../../assets/images/device_{{device.deviceName}}.png" width="40">
                    <b>{{device.deviceName}}</b>
                  </td>
                  <td>{{device.totalNumber}}</td>
                  <td>{{device.deviceUsedNumber}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Accordion card -->

  </div>
  <!--/.Accordion wrapper-->


</div>

<!--Bottom Table UI-->
<div class="d-flex justify-content-center">

  <tools-pagination (dataChange)="licensesChange($event)"></tools-pagination>

</div>
<!--Bottom Table UI-->


<a class="white-text deep-orange fixed-action-btn hoverable waves-effect" routerLink="/create-newLicense">
  <i class="fa fa-plus fa-inverse fa-3x"></i>
</a>


<a class="btn btn-primary" (click)="refreshToken()">刷新token</a>



