
<div class="container ">

  <div class="card blue-gradient">
    <div class="card-header">
      <div class="row">

        <div class="col-3 textCenter text-center">
          ExpiredDate
        </div>
        <div class="col-2 textCenter text-center">
          Devices
        </div>
        <div class="col-2 textCenter text-center">
          InstallPhoneNum
        </div>
        <div class="col-4 textCenter text-center">
          Operation
        </div>
      </div>

    </div>

  </div>

  <!--Accordion wrapper-->
  <div class="accordion container" id="accordion" role="tablist" aria-multiselectable="true"
       *ngIf="licenses !== undefined && licenses.length !== 0">


        <!-- Accordion card -->
        <div class="card" *ngFor="let license of licenses; let i = index">

          <!-- Card header -->
          <div class="card-header" role="tab" [attr.id]="i + 1000">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#'+ i"
               [attr.aria-expanded]="false">
              <div class="row">
                <div class="col-3 textCenter text-center">
                  {{license.expireTime | date:"MM/dd/yyyy"}}
                </div>
                <div class="col-2 textCenter text-center">
                  {{license.devices.length}}
                </div>
                <div class="col-2 textCenter text-center">
                  {{license.InstalledPhoneNumber}}
                </div>
                <div class="col-4 text-center" (click)="stop_Propagation(event)">
                  <!--<a class="btn btn-primary" href="http://localhost:3001/api/license/{{license._id}}">下载</a>-->
                  <button class="btn btn-primary btn-sm" (click)="downloadLicense(license._id)">下载</button>
                  <button class="btn btn-primary btn-sm" (click)="modifyLicense(license._id)">更新</button>
                  <button class="btn badge-danger btn-sm" (click)="deleteLicense(license._id)">删除</button>
                </div>

                <a class="fa fa-angle-down fa-2x rotate-icon prefix"></a>
              </div>


            </a>
          </div>

          <!-- Card body -->
          <div [attr.id]="i" class="collapse" role="tabpanel" [attr.aria-labelledby]="i + 1000">
            <div class="card-body">
              <div class="tag">
                <em></em>
                <span></span>

                <div class="table-wrapper-2">

                  <table class="table">
                    <thead>
                    <tr>
                      <th>DeviceModel</th>
                      <th>TotalNumber</th>
                      <th>UsedNumber</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let device of license.devices">
                      <td>
                        <img src="/../../../../assets/images/device_{{device.deviceName}}.png" width="40">
                        <b>{{device.deviceName}}</b>
                      </td>
                      <td>{{device.totalNumber}}</td>
                      <td>{{device.deviceUsedNumber}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>

      <!-- Accordion card -->

  </div>
  <!--/.Accordion wrapper-->




</div>

<!--Bottom Table UI-->
<div class="d-flex justify-content-center">

  <!--Pagination -->
  <nav class="my-4 pt-2">
    <ul class="pagination pagination-circle pg-purple mb-0">

      <!--First-->
      <li id="first" class="page-item disabled clearfix d-none d-md-block" (click)="changePagination(-4)"><a class="page-link">First</a></li>

      <!--Arrow left-->
      <li id="previous" class="page-item disabled" (click)="changePagination(-3)">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <!--Numbers-->
      <li [attr.id]="'li' + i" class="page-item" *ngFor="let pagination of paginationArr let i = index"><a class="page-link"
                                                                                                           (click)="changePagination(i + 1)">{{i + 1}}</a></li>


      <!--Arrow right-->
      <li id="next" class="page-item" (click)="changePagination(-2)">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>

      <!--First-->
      <li id="last" class="page-item clearfix d-none d-md-block" (click)="changePagination(-1)"><a class="page-link">Last</a></li>

    </ul>
  </nav>
  <!--/Pagination -->

</div>
<!--Bottom Table UI-->


<a class="white-text deep-orange fixed-action-btn hoverable waves-effect" routerLink="/create-newLicense">
  <i class="fa fa-plus fa-inverse fa-3x"></i>
</a>



