
<div style="margin-left: 3rem;margin-right: 3rem">

  <div class="reg-app">
    <a class="btn btn-primary" routerLink="/development-app-reg" routerLinkActive="active">Registered App</a>
  </div>

  <div class="card">

    <div class="card-body">

      <p>iHealth MyVitals</p>

      <table class="table table-custom">
        <thead>
        <tr>
          <th>
            App icon
          </th>
          <th>
            state
          </th>
          <th>
            License Expired Data
          </th>
          <th>
            Device No.
          </th>
          <th>
            Use No.
          </th>
          <th>
            Operation
          </th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>

          </td>
          <td>
            via
          </td>
          <td>
            2018-10-23
          </td>
          <td style="position: relative">
            2
            <i id="angle-down" class="fa fa-angle-down" data-toggle="collapse" data-target="#devices-detail"
            aria-expanded="false" aria-controls="devices-detail"></i>
            <div class="collapse device-detail" id="devices-detail">
              <table class="table table-device">
                <thead>
                <tr>
                  <th>
                    Device Model
                  </th>
                  <th>
                    Device No.
                  </th>
                  <th>
                    Use No.
                  </th>
                </tr>
                </thead>


                <tbody>
                <tr>
                  <td>
                    BP5
                  </td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
          <td>
            0
          </td>
          <td>
            <div>
              <a><img src="../../../../assets/images/download.png"></a>
              <a><img src="../../../../assets/images/edit.png"></a>
              <a><img src="../../../../assets/images/delete.png"></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>


      <div class="form-custom">
        <div class="form-custom-head">
          <p class="custom-item-narrow">App icon</p>
          <p class="custom-item-narrow">State</p>
          <p class="custom-item-narrow">Platform</p>
          <p class="custom-item-wide">License Expired</p>
          <p class="custom-item-narrow">Device No.</p>
          <p class="custom-item-narrow">Use No.</p>
          <p class="custom-item-wide">Operation</p>
        </div>

        <div>
          内容
        </div>
      </div>
    </div>

  </div>

</div>
