<div style="margin-left: 3rem;margin-right: 3rem; margin-bottom: 3rem">

  <div class="reg-app" *ngIf="companyInfo && companyInfo.state == '3' && create_App">
    <a class="btn btn-primary" routerLink="/development-app-reg" routerLinkActive="active">Registered App</a>
  </div>

  <div class="card" *ngIf="appList && appList.length !== 0 && companyInfo && checkLicenseData">

    <div class="card-body">

      <div *ngFor="let app of appList; let i = index">
        <p style="margin-top: 20px">{{app.appName}}</p>
        <div class="form-custom">
          <div class="form-custom-head">
            <p class="item-1">App icon</p>
            <p class="item-1">State</p>
            <p class="item-1">Platform</p>
            <p class="item-2">License Expired</p>
            <p class="item-1">Device No.</p>
            <p class="item-1">Use No.</p>
            <p class="item-2" *ngIf="companyInfo.state == '3' && (edit_App || delete_App)">Operation</p>
          </div>

          <div class="form-custom-content">
            <div>
              <a class="item-1" *ngIf="app.avatar"><img style="width: 80px;height: 80px;" src="{{url}}{{app.avatar.description}}/{{app.avatar.fileName}}"></a>
              <a class="item-1" *ngIf="!app.avatar"><img style="width: 80px;height: 80px;" src="../../../../assets/images/addPic.png"></a>
              <p class="item-1" *ngIf="app.state === 0" style="color: #007afa">Apply</p>
              <p class="item-1" *ngIf="app.state === 1" style="color: #007afa">Approved</p>
              <p class="item-1" *ngIf="app.state === 2" style="color: #007afa">Disable</p>
              <p class="item-1" *ngIf="app.state === 3" style="color: #007afa">Via</p>
              <p class="item-1">{{app.platform}}</p>
              <p class="item-2">{{app.expireTime | date: 'yyyy/MM/dd'}}</p>
              <div class="item-1">{{app.devices.length}}

                <a class="collapsed" style="position: relative;" [style.z-index]="100 - i"
                   data-toggle="collapse" [attr.data-target]="'#detail' + i"
                   aria-expanded="false" aria-controls="devices-detail" *ngIf="app.devices.length !== 0">
                  <img src="../../../../assets/images/down.png">

                  <div class="triangle-big"></div>
                  <div class="triangle-small">

                    <div class="collapse device-detail" [attr.id]="'detail' + i">

                      <div class="device-detail-form">
                        <div class="device-detail-form-head">
                          <p class="item-2 custom-center-p" style="margin-right: 10%">Device Model</p>
                          <p class="item-1 custom-center-p">Device No.</p>
                          <p class="item-1 custom-center-p">Use No.</p>
                        </div>
                        <div class="device-detail-form-head" style="border-top: 1px solid #e9ecef;" *ngFor="let device of app.devices">
                          <div class="item-2 custom-center-p" style="margin-right: 15%;">
                            <img src="../../../../assets/images/device_{{device.deviceName | lowercase}}.png" style="width: 3rem; height: 3rem">
                            <p style="display: inline-block">{{device.deviceName}}</p>
                          </div>
                          <p class="item-1 custom-center-p">{{device.totalNumber}}</p>
                          <p class="item-1 custom-center-p">0</p>
                        </div>
                      </div>
                    </div>
                  </div>


                </a>


              </div>
              <p class="item-1">0</p>

              <div class="item-2" *ngIf="companyInfo.state == '3' && (edit_App || delete_App)">
                <!--<a (click)="downloadLicense(app._id)"><img src="../../../../assets/images/download.png" *ngIf="app.state == '3'"></a>-->
                <a href="{{url}}/api/license/{{app._id}}?userId={{user._id}}&token={{token}}"><img src="../../../../assets/images/download.png" *ngIf="app.state == '3'"></a>
                <a [routerLink]= '["/development-app-modify", app._id]' *ngIf="edit_App"><img src="../../../../assets/images/edit.png"></a>

                <a class="collapsed" style="position: relative" [style.z-index]="100 - i" data-toggle="collapse" [attr.data-target]="'#confirm' + i"
                   aria-expanded="false" aria-controls="devices-detail" *ngIf="delete_App">
                  <img src="../../../../assets/images/delete.png">

                  <div class="triangle-big" style="left: 4px"></div>
                  <div class="triangle-small" style="left: 4px">

                    <div class="collapse device-detail" [attr.id]="'confirm' + i" style="width: 20rem">

                      <div>
                        Sure to delete this app?
                      </div>

                      <div>
                        <a class="btn btn-default">Cancel</a>
                        <a class="btn btn-danger" (click)="deleteApp(app._id)">Delete</a>
                      </div>
                    </div>
                  </div>

                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>


</div>
