

<div class="d-flex justify-content-center" style="margin-top: 60px">
  <div class="card card-width" >
    <div class="card-body">

      <div class="d-flex justify-content-center header-img">
        <img src="../../../assets/images/ihealth-logo.png">
      </div>


      <p class="text-center header-state">Reset password</p>

      <form class="simple_form form-custom" novalidate="novalidate" id="new_user"
            accept-charset="UTF-8" >

        <div class="md-form">
          <input required="required" class="form-control" id="password" name="password" type="text" [(ngModel)]="password">
          <label for="password">password</label>
        </div>

        <div class="md-form">
          <input required="required" class="form-control" id="confirmPassword" name="confirmPassword" type="text" [(ngModel)]="confirmPassword">
          <label for="confirmPassword">confirmPassword</label>
        </div>


        <div class="submit-block">
          <a class="btn btn-primary" (click)="resetPassword()">Send</a>
        </div>

      </form>

    </div>
  </div>
</div>


