<div class="d-flex justify-content-center" style="margin-top: 60px">
  <div class="card card-width">
    <div class="card-body">

      <div class="d-flex justify-content-center header-img">
        <img src="../../../assets/images/ihealth-logo.png">
      </div>


      <p class="text-center header-state">Reset password</p>

      <form class="simple_form form-custom" novalidate="novalidate" id="new_user"
            accept-charset="UTF-8" #ngForm="ngForm">

        <div class="md-form">
          <input type="password" required="required" class="form-control" id="password" name="password"
                 [(ngModel)]="password" #passwordValid="ngModel" minlength="6" maxlength="16"
                 [regex-name]='{"upperRegex": "[A-Z]", "lowerRegex": "[a-z]", "numberRegex": "[0-9]", "specharsRegex": "[\!\@\#\$\%\\*\&\\^\?]"}'>
          <label for="password">Password</label>


          <div *ngIf="passwordValid.invalid && (passwordValid.dirty || passwordValid.touched)"
               class="alert alert-danger">

            <div *ngIf="passwordValid.errors.required">
              Password is required
            </div>

            <div *ngIf="passwordValid.errors.minlength">
              Password's length must longer than 6.
            </div>

            <div *ngIf="passwordValid.errors.numberRegex">
              Password must contain at least one number.
            </div>

            <div *ngIf="passwordValid.errors.upperRegex">
              Password must contain at least one upper letter.
            </div>

            <div *ngIf="passwordValid.errors.lowerRegex">
              Password must contain at least one lower letter.
            </div>

            <div *ngIf="passwordValid.errors.specharsRegex">
              Password must contain at least one spechars.
            </div>
          </div>
        </div>

        <div class="md-form">
          <input type="password" required="required" class="form-control" id="confirmPassword" name="confirmPassword"
                 [(ngModel)]="confirmPassword" #confirmPasswordValid="ngModel" [equalTo]="passwordValid">
          <label for="confirmPassword">Retype password</label>

          <div *ngIf="confirmPasswordValid.invalid && (confirmPasswordValid.dirty || confirmPasswordValid.touched)"
               class="alert alert-danger">
            <span>Retype password must equal with password.</span>

          </div>
        </div>


        <div class="submit-block">
          <button class="btn btn-primary" (click)="resetPassword()" [disabled]="!ngForm.form.valid || buttonDisable">
            Send
          </button>
        </div>

      </form>

    </div>
  </div>
</div>


