
.device {
    margin: 10px 20px 10px 20px;
}


/*单一Device*/

.customBlock {
    height: 60px;
    width: 210px;
    background-color: #ffa726;
    display: inline-flex;
    border-radius: 30px;
    cursor:pointer;
    margin-left: 2px;
    margin-top: 2px;
    transition: 0.5s;
}
.customBlock img {
    width: 58px;
    height: 58px;
    margin: 3px;
}

.customBlock p {
    font-size: 12px;
    margin: 6px 0px 6px 0px;
    display: inline;
}

.customBlock input {
    display: inline;
    font-size: 10px;
    width: 30px;
    margin: 0px;
    padding: 0px;

}


.cancel {
    width: 0;
    height: 0;
    border: 0;
    margin: 0;
    padding: 0;


}

.customBlock:hover{
    width: 265px;
    /*transform: rotate(360deg);*/
}
.customBlock:hover .cancel{
    transition: 0.5s;
position: relative;
    width: 50px;
    height: 50px;
    margin-left: 6px;
    margin-top: 5px;
    border-radius: 20px;
    background-color:#afafaf;
    background-image: url(/src/assets/images/close.png);
}

.wrap {
    width:100%;
    display: flex;
    flex-wrap:wrap;
}

.row div {
  height: 30px;
  line-height: 30px;

}
