<h1 id="h1">Home</h1>
<h2 *ngIf="user">User's email is {{user.email}}</h2>
<button (click)="managerLicense()">Manager</button>
<a routerLink="/manager-license" routerLinkActive="active">管理</a>


<!--Accordion wrapper-->
<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">


  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        ExpiredDate
      </div>
      <div class="col-2 text-center">
        Devices
      </div>
      <div class="col-2 text-center">
        InstallPhoneNumber
      </div>
      <div class="col-4 text-center">
        Operation
      </div>
    </div>


    <hr>


    <!-- Accordion card -->
    <div class="card" *ngFor="let license of licenses; let i = index">

      <!-- Card header -->
      <div class="card-header" role="tab">
        <a class="collapsed" data-toggle data-toggle="collapse" data-parent="#accordionEx" [attr.data-target]="'#'+ i"
           arrt.aria-expanded="false">
          <div class="row">
            <div class="col-4 text-center">
              {{license.ExpiredDate}}
            </div>
            <div class="col-2 text-center">
              {{license.DeviceInfo.length}}
            </div>
            <div class="col-2 text-center">
              {{license.InstalledPhoneNumber}}
            </div>
            <div class="col-4 text-center">
              <button>删除</button>
            </div>
            <i class="fa fa-angle-down rotate-icon"></i>
          </div>

        </a>
      </div>

      <!-- Card body -->
      <div [attr.id]="i" class="collapse" role="tabpanel">
        <div class="card-body">
          <div class="row">
            <div class="col-4 text-center">
              <b>DeviceModel</b>
            </div>
            <div class="col-4 text-center">
              <b>TotalNumber</b>
            </div>
            <div class="col-4 text-center">
              <b>UsedNumber</b>
            </div>
          </div>

          <div class="row" *ngFor="let device of license.DeviceInfo">
            <div class="col-4 text-center">
              <b>{{device.DeviceModel}}</b>
            </div>
            <div class="col-4 text-center">
              <b>{{device.DeviceTotalNumber}}</b>
            </div>
            <div class="col-4 text-center">
              <b>{{device.DeviceUsedNumber}}</b>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

  <!-- Accordion card -->

</div>
<!--/.Accordion wrapper-->





