<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide" data-ride="carousel" style="height: 100%; width: 100%">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active" style="height: 100%">
      <img class="flex-center img-center" src="../../../assets/images/background-1.png"
           alt="First slide">
      <div class="carousel-caption-custom">

        <div class="animated fadeInDown">
          <h3 class="custom-style-h1">Library SDK</h3>
        </div>

        <div class="animated fadeInUp">
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <a href="#" class="custom-style-h3" style="text-decoration: underline;">Understand in detail ></a>
        </div>
      </div>

    </div>

    <div class="carousel-item" style="height: 100%">
      <img class=" flex-center img-center" src="../../../assets/images/background-2.png"
           alt="Second slide">
      <div class="carousel-caption-custom">

        <div class="animated fadeInRightBig">
          <h3 class="custom-style-h1">Library SDK</h3>
        </div>

        <div class="animated fadeInLeftBig">
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <a href="#" class="custom-style-h3" style="text-decoration: underline">Understand in detail ></a>
        </div>
      </div>

    </div>

    <div class="carousel-item" style="height: 100%">
      <img class="flex-center img-center" src="../../../assets/images/background-4.png"
           alt="Third slide">

      <div class="carousel-caption-custom">

        <div class="animated fadeInDownBig">
          <h1 class="custom-style-h1">Library SDK</h1>
        </div>

        <div class="animated fadeInUpBig">
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <a href="#" class="custom-style-h3" style="text-decoration: underline">Understand in detail ></a>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="height: 100%">
      <img class="flex-center img-center" src="../../../assets/images/background-3.png"
           alt="Third slide">
      <div class="carousel-caption-custom">

        <div class="animated fadeInRightBig">
          <h3 class="custom-style-h1">Library SDK</h3>
        </div>

        <div class="animated fadeInLeftBig">
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <h3 class="custom-style-h3">The SDK helps developers to integrate and support iHealth devices more quickly and
            easily.</h3>
          <a href="#" class="custom-style-h3" style="text-decoration: underline">Understand in detail ></a>
        </div>
      </div>
    </div>

  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!--<h1 id="h1">Home</h1>-->
<!--<h2 *ngIf="user">User's email is {{user.email}}</h2>-->
<!--<button (click)="managerLicense()">Manager</button>-->
<!--<a routerLink="/manager-license" routerLinkActive="active">管理</a>-->
<!--<a class="btn btn-primary" routerLink="/create-newLicense" routerLinkActive="active">新建License</a>-->



