<div style="margin-left: 5rem; margin-right: 5rem">

  <p class="title">iHealth Co.Ltd</p>

  <div class="form-custom">
    <div class="form-custom-head">
      <p class="item-2">People</p>
      <p class="item-1">Role</p>
      <p class="item-1">Country</p>
      <p class="item-1">State</p>
      <p class="item-1">Operation</p>
    </div>

    <div class="form-custom-content">
      <div>
        <div class="item-2" style="margin-left: 1rem; margin-top: 0.5rem">
          <p style=" margin: 0; color: #007afa"><b>Zhangxu</b></p>
          <p style="margin: 0;">zhangxu@ihealthlabs.com.cn</p>
        </div>
        <p class="item-1" style="line-height: 4rem; text-align: center">Administrator</p>
        <p class="item-1" style="line-height: 4rem; text-align: center">French</p>
        <p class="item-1" style="line-height: 4rem; text-align: center; color: #007afa">Via</p>
        <a class="item-1" style="line-height: 4rem; text-align: center"><img src="../../../../assets/images/edit.png"></a>
      </div>
    </div>
  </div>

  <div class="add-member">
    <a class="btn btn-primary" routerLink="/development-add-member" routerLinkActive="active">Add Members</a>
  </div>


  <div class="form-custom">
    <div class="form-custom-head">
      <p class="item-2">People</p>
      <p class="item-1">Role</p>
      <p class="item-1">Permissions</p>
      <p class="item-1">Support App</p>
      <p class="item-1">Operation</p>
    </div>

    <div class="form-custom-content">
      <div>
        <div class="item-2" style="margin-left: 1rem; margin-top: 0.5rem">
          <p style=" margin: 0; color: #007afa"><b>Zhangxu</b></p>
          <p style="margin: 0;">zhangxu@ihealthlabs.com.cn</p>
        </div>
        <p class="item-1" style="line-height: 5rem; text-align: center">Member</p>
        <div class="item-1">
          <p>Create App, Edit App,Delete App,Check The License Data,and 2 more</p>
        </div>

        <p class="item-1" style="line-height: 5rem; text-align: center;">iHealth MyVitals</p>
        <div class="item-1" style="line-height: 5rem; text-align: center">
          <a><img src="../../../../assets/images/edit.png"></a>
          <a><img src="../../../../assets/images/delete.png"></a>
        </div>

      </div>
    </div>
  </div>


</div>


