

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;

}


.table {
  border: 1px solid #e9ecef;
  margin-top: 1rem;
}

.table thead {
  text-align: center;
  background: #f2f2f2;
}


/*Add members style*/

.add-member {
  overflow: hidden;
}

.add-member a {
  text-transform: none;
  margin-right: 0;
  float: right;
  border-radius: 4px;
}

