

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;

}

.form-custom {
  border: 1px solid #e9ecef;
  width: 100%;
}

.form-custom-head {
  background: #f2f2f2;
  display: flex;
  height: 2.1rem;
  border-bottom: 1px solid #e9ecef;
}

.form-custom-head p {
  margin: 0;
  line-height: 2.1rem;
  text-align: center;
}

.item-2 {
  flex: 2;
}

.item-1 {
  flex: 1;
}


.form-custom-content {
  margin: 0;
}

.form-custom-content > div {
  display: flex;
  height: 5rem;
}

/*Add members style*/

.add-member {
  margin-right: 0;
  float: right;

}

.add-member a {
  text-transform: none;
  border-radius: 4px;
}


/*小三角*/

.triangle-big, .triangle-small {
  content: "";  /*:before和:after必带技能，重要性为满5颗星*/
  display: block;
  position: absolute;  /*日常绝对定位*/

  left: -4px;
  width: 0;
  height: 0;
  border:10px solid transparent;

}

.triangle-big {
  bottom: -22px;
}
.triangle-small {
  bottom: -20px;
}
a:not(.collapsed) .triangle-big {
  border-bottom-color: #FFFFFF;
  z-index:1;
}

a:not(.collapsed) .triangle-small {
  border-bottom-color: #e9ecef;
  z-index: 0;
}

/*Device detail*/
.device-detail {
  position: absolute;
  z-index: 5;
  left: -15rem;
  width: 30rem;
  top: 10px;
  border: 1px solid #e9ecef;
  background: #FFFFFF;
  margin-bottom: 3rem;
}




