<div style="margin-left: 5rem; margin-right: 5rem">

  <p class="title">iHealth Co.Ltd</p>

  <table class="table">
    <thead>
      <tr>
        <th>
          People
        </th>
        <th>
          Title
        </th>
        <th>
          state
        </th>
      </tr>
    </thead>


    <tbody>
    <tr>
      <td>
        <div>
          <a>RenKai Zhang</a>
          <p>zhangrenkai@ihealthlabs.com.cn</p>
        </div>
      </td>
      <td>Administrator</td>
      <td>via</td>
    </tr>
    </tbody>
  </table>


  <div class="add-member">
    <a class="btn btn-primary">Add Members</a>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>
        People
      </th>
      <th>
        Title
      </th>
      <th>
        state
      </th>
    </tr>
    </thead>


    <tbody>
    <tr>
      <td>
        <div>
          <a>RenKai Zhang</a>
          <p>zhangrenkai@ihealthlabs.com.cn</p>
        </div>
      </td>
      <td>Administrator</td>
      <td>via</td>
    </tr>
    </tbody>
  </table>

</div>


