<div style="margin-left: 5rem; margin-right: 5rem" *ngIf="user && companyInfo">

  <p class="title">iHealth Co.Ltd</p>

  <div class="form-custom">
    <div class="form-custom-head">
      <p class="item-2">People</p>
      <p class="item-1">Role</p>
      <p class="item-1">Country</p>
      <p class="item-1">State</p>
      <p class="item-1" *ngIf="user.type !== 4">Operation</p>
    </div>

    <div class="form-custom-content">
      <div>
        <div class="item-2">
          <p style=" margin: 0; margin-left: 1rem; margin-top: 0.5rem; color: #007afa"><b>{{user.username}}</b></p>
          <p style="margin: 0; margin-left: 1rem;">{{user.email}}</p>
        </div>
        <p class="item-1" style="line-height: 4rem; text-align: center">{{user.type}}</p>
        <p class="item-1" style="line-height: 4rem; text-align: center">{{companyInfo.country}}</p>
        <p class="item-1" style="line-height: 4rem; text-align: center; color: #007afa">{{companyInfo.state}}</p>
        <a class="item-1" style="line-height: 4rem; text-align: center" *ngIf="user.type !== 4" [routerLink]="['/development-company-modify', companyInfo._id]"><img src="../../../../assets/images/edit.png"></a>
      </div>
    </div>
  </div>

  <div class="add-member" *ngIf="user.type !== 4">
    <a class="btn btn-primary" routerLink="/development-add-member" routerLinkActive="active">Add Members</a>
  </div>


  <div class="form-custom" *ngIf="developerList.length !== 0">
    <div class="form-custom-head">
      <p class="item-2">People</p>
      <p class="item-1">Role</p>
      <p class="item-2">Permissions</p>
      <p class="item-1" *ngIf="user.type !== 4">Operation</p>
    </div>

    <div class="form-custom-content">
      <div *ngFor="let developer of developerList">
        <div class="item-2">
          <p style=" margin: 0; margin-left: 1rem; margin-top: 0.5rem; color: #007afa"><b>{{developer.username}}</b></p>
          <p style="margin: 0; margin-left: 1rem; ">{{developer.email}}</p>
        </div>
        <p class="item-1" style="line-height: 5rem; text-align: center">{{developer.type}}</p>
        <div class="item-2">
          <p style="margin: 1rem 0 1rem 0">{{permissionString}}</p>
        </div>

        <div class="item-1" style="line-height: 5rem; text-align: center" *ngIf="user.type !== 4">
          <a [routerLink]="['/development-permission-modify', developer._id]"><img src="../../../../assets/images/edit.png"></a>
          <a (click)="removeCompanyId(developer)"><img src="../../../../assets/images/delete.png"></a>
        </div>

      </div>
    </div>
  </div>


</div>


