
<div class="d-flex justify-content-center" style="margin-top: 60px">
  <div class="card card-width" >
    <div class="card-body">

      <div class="d-flex justify-content-center header-img">
        <img src="../../../assets/images/ihealth-logo.png">
      </div>


      <p class="text-center header-state">Forgot password</p>

      <form class="simple_form form-custom" novalidate="novalidate" id="new_user"
            accept-charset="UTF-8" #ngForm="ngForm" >

        <div class="md-form">
          <input required="required" class="form-control" id="email" name="email" type="text" #emailValid="ngModel"
                 [(ngModel)]="email" pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$">
          <label for="email">Email</label>

          <span *ngIf="!emailValid.pristine&&emailValid.invalid" style="color: #ee2200">Please input valid email.</span>

        </div>


        <div class="submit-block">
          <button class="btn btn-primary" (click)="forgotPassword()" [disabled]="!ngForm.form.valid || buttonDisable">Send</button>
        </div>

      </form>


      <div style="margin-bottom: 70px; margin-top: 10px; font-size: 15px; color: #999999">

        <p>If you've forgotten your password, enter your email address that you used to create your iHealth development account.
          We will email you a link to reset your password. When you receive the email, click on the link to reset it on our site.</p>

        <p>This email may take a little while to arrive. If you don't see it shortly, check your spam and Junk folders.</p>
      </div>




    </div>
  </div>
</div>


