<div class="content">

  <h1 class="title">GTCU</h1>

  <p>GENERAL TERMS AND CONDITIONS OF USE</p>

  <p style="font-weight: bold">
    PREAMBLE
  </p>

  <p>
    The General Terms and Conditions herein (hereinafter referred to as « GCU ») are concluded between the company iHealthLabs
    Europe (hereinafter referred to as « iHealth ») and any person (hereinafter referred to as the « User ») who undertakes to
    access and browse through iHealth internet website, accessible via the URL address
    <a href="http://www.ihealthlabs.eu"><span>www.ihealthlabs.eu</span></a> (hereinafter referred
    to as the « Website »). The present GCU apply even if  User’s agreement to other terms and conditions such as online
    « general terms and conditions of use » accompanying any online purchase, for professionals (« B to B ») or for customers
    (« B to C »), or  terms and conditions regarding the use of products offered for sale, contained in the products data
    sheets, have not been accepted.
  </p>

  <p>
    Access and browsing through the Internet Website are contingent on the strict compliance with the GCU with which any
    User shall have to get acquainted with beforehand.
  </p>

  <p>
    Accessing and browsing through the Website implies, from any User, an acceptance, without reservations, of the current
    GCU, which place the User under several obligations, use policies and behavioral constraints.
  </p>

  <p style="font-weight: bold">
    ARTICLE 1 - OBJECT
  </p>

  <p>
    The GCU herein establish all the terms and conditions of use of the Website anywhere for any web user or User accessing
    and browsing through the said Website, whether he/she is a simple visitor or buyer of the products and services provided
    by iHealth. In addition, it is stated that all purchases are subject to the general terms and conditions of sale and
    iHealth products must be used in accordance with the user guide attached to each product.
  </p>

  <p>
    Also, everything regarding the Users’ personal data is subject to the documents, available on the Website, entitled:
    « <a href="https://ihealthlabs.eu/en/content/175-personal-data-confidentiality-policy">Personal Data and Confidentiality Policy</a> »
    on the one hand, « <a href="https://ihealthlabs.eu/en/content/175-personal-data-confidentiality-policy">Personal Health Data Guide</a> »
    (HYPERLINK) on the other
    hand.
  </p>

  <p style="font-weight: bold">
    ARTICLE 2 - GENERAL DESCRIPTION OF THE WEBSITE
  </p>

  <p>
    2.1. General Description of the Website Content
  </p>

  <p>
    This Website is a commercial website offering to any natural person or legal entity, professional or private individual, the possibility
    to order innovative connected health products that are clinically approved.
  </p>

  <p>
    Sales of iHealth products and services are subject to « <a href="https://ihealthlabs.eu/en/content/173-GTCU">general terms and conditions of use</a> ».
  </p>

  <p>
    2.2. Access Procedures
  </p>

  <p>
    2.2.1 « Personal » Account Creation
  </p>

  <p>
    When merely navigating on the Website, the User is not required to provide iHealth with any identification information.
  </p>

  <p>
    However, in order to make the most of the resources available on the Website, in particular in order to order products
    offered by iHealth, the User is invited to create a « personal » account for which he/she will be asked to provide for
    various data, some of which may be personal in nature.
  </p>

  <p>
    In this case, iHealth send a subscription confirmation via electronic message in which the User’s login, name and access
    code are confirmed. In order to activate his/her account, the User must click on the personalized link provided for this
    purpose.
  </p>

  <p>
    In this case, iHealth send a subscription confirmation via electronic message in which the User’s login, name and access
    code are confirmed. In order to activate his/her account, the User must click on the personalized link provided for this
    purpose.
  </p>

  <p>
    The Users undertake to communicate up-to-date and accurate data. iHealth shall not be held liable, under any circumstances,
    for any issue or prejudice arising from the inaccuracy or obsolescence of the data communicated by the User. However,
    in accordance with the law, the Users can, at any time, upon simple request, proof of identity and by complying with the
    procedure planned for this purpose by iHealth, have access to the data related to their account and proceed to their
    modification, correction or rectification.
  </p>

  <p>
    As soon as the account is created, the User shall be assigned a login name and a password (hereinafter the « Credentials »)
    allowing him/her to access his/her private account. The Users shall ensure to use the appropriate Credentials and will
    be solely responsible for the level of safety of the said Credentials.
  </p>

  <p>
    iHealth guarantees the safety of its own storage, management and hosting system which meets applicable legal and regulatory
    requirements as well as high quality standards. However, unless there is proof of defect attributable to iHealth,
    the later shall not be held liable for the consequences of actions arising from the User’s negligence which would lead
    to a fraudulent use of the said Credentials.
  </p>

  <p>
    2.2.2 Use of Access Code
  </p>

  <p>
    Users have the possibility to modify their password at their first connections on the Website. On subsequent connections,
    the Users shall enter their chosen Credentials.
  </p>


  <p>
    iHealth advise the Users to frequently modify their password.
  </p>

  <p>
    In case he/she forgets or loses his/her password, the concerned User shall generate a new password which will be sent at his/her
    email address via the section entitled « Forgotten Password? ».
  </p>

  <p>
    In the event of theft of his/her username and/or password, or in case of proven or suspected use of the said Credentials by an
    unauthorized third party, the concerned User shall immediately contact iHealth via the section entitled «<a href="mailto:support@ihealthlabs.eu">Contact</a>».
  </p>

  <p>
    2.2.3 Confidentiality of User Access Information
  </p>

  <p>
    Credentials are personal and confidential. They can only be changed on the User’s request or on initiative of iHealth.
    The User is solely and entirely responsible
    for any activity carried out using his/her Credentials and undertakes to make his/her best efforts in order to keep these
    Credentials secret and not to disclose them, to anybody, in any form whatsoever.  In the event of loss or theft of his/her
    Credentials, the User is responsible for any harmful consequence arising from this loss or theft and shall take, as soon
    as possible, appropriate action in order to modify them.
  </p>

  <p>
    2.2.3 Rule of Evidence
  </p>

  <p>
    The User accepts the use of electronic mail and/or other written telecommunication system (SMS, etc.) for the transmission of information related to the services
    provided by iHealth or to the conclusion or the execution of their commercial relations.
  </p>

  <p>
    The User expressly agrees that:
  </p>

  <p>
    (i)     The presence of an identification password validly identifies the author of a document or message and
    establishes the authenticity of this document or message;
  </p>

  <p>
    (ii)     An electronic document containing an identification password is equivalent to a written document signed
    by the document issuer.
  </p>

  <p>
    (iii)     The parties can rely on a paper printed version of an electronic message from an email software in order
    to prove the content of their exchanges regarding the execution of the GCU herein.
  </p>

  <p>
    2.3. Availability of the Website
  </p>

  <P>
    Before accessing the Website, every User is responsible for verifying that the computer configuration he/she uses is
    consistent with the navigation and use of the Website, that this computer configuration does not contain any virus
    and that it is in good working condition.
  </P>

  <p>
    iHealth shall do its best efforts to ensure that every User can access the Website 24 hours a day, 7 days a week and
    all year long.
  </p>

  <p>
    However, iHealth reserves the right , without notice or compensation, to close temporarily or permanently the access to
    part or all of the Website (in particular for Website maintenance, update or upgrade purposes, or due to a technical
    issue) and shall not be held liable for direct or indirect damage that could arise from it.
  </p>

  <p>
    More generally, iHealth shall be held liable in case of unavailability of the Website for any reason whatsoever.
  </p>

  <p>
    iHealth does not control the risks related to the functioning of the Internet and draws the User’s attention to the
    existence of constraints, risks and limitations related to possible disruption of telecommunications, denial of service,
    virus, computer bugs and any other case beyond the control of iHealth and inhibiting the availability of the Website.
  </p>

  <p style="font-weight: bold">
    ARTICLE 3 - LIABILITY
  </p>

  <p>
    3.1. User’s Liability
  </p>

  <p>
    Every User commits to using the Website fairly and lawfully, in strict accordance with the GCU herein.
  </p>

  <p>
    The User shall not undertake any action which might limit, disrupt, block of disallow, in any manner, partially or
    totally, even temporarily, the regular functioning of the Website. The previous provisions cover, in particular,
    the following, non-exhaustive list:  any spam, virus, worm, Trojan horse or any damage whatsoever to the Website
    and to iHealth information system.
  </p>

  <p>
    Also, the User shall not extract, collect, download or exploit all or part of the content of the Website in order
    to provide for similar services and/or to in violation of iHealth or third parties’ rights.
  </p>

  <p>
    Also, the User shall not extract, collect, download or exploit all or part of the content of the Website in order
    to provide for similar services and/or to in violation of iHealth or third parties’ rights.
  </p>

  <p>
    Furthermore, any User who has a personal account commits to preserving the confidentiality of his/her username and
    password.
  </p>

  <p>
    Every User shall not communicate them to any third party whatsoever, and accepts to bear full responsibility for
    any action implying the use of his/her username and password.
  </p>

  <p>
    Every User guarantees iHealth against any appeal or action based on or arising from data, information or elements
    appearing on his/her personal account that could be taken against him/her for any reason whatsoever,
    by any third party.
  </p>

  <p>
    iHealth reserves the right to interrupt temporarily or permanently the access to the Website for any User,
    at its absolute discretion without notice or compensation, because of the User’s breach of any of the provisions
    referred to in the GCU or of the laws and regulations in force on the French territory, this without prejudice to
    any action that may be taken by iHealth. iHealth.
  </p>

  <p>
    3.2. Liability of iHealth
  </p>

  <p>
    Liability with regard to Internet network use
  </p>

  <p>
    iHealth shall not be held liable for damages, for any direct or indirect damage, that might be suffered by the
    User and arising from the temporary or permanent, voluntary or involuntary  interruption of the functioning of
    the Website.
  </p>

  <p>
    iHealth shall not be held liable for constraints, risks and limitations, referred to above, attached to the use
    of the Internet network, in case of computer bug, failure or blockage of the telecommunications, denial of service,
    virus, harm to the network or to information systems, and any other case that are beyond the control of iHealth.
  </p>

  <p>
    Liability with regard to Website content
  </p>

  <p>
    The contents published on the Website come from sources believed to be reliable and are made available to Users for
    indicative purposes. iHealth undertakes to do its best efforts in order to offer to the Users high quality contents.
  </p>

  <p>
    iHealth does not guarantee the completeness, the updating, the exhaustiveness, the reliability, the truthfulness,
    the relevance or the accuracy of the contents or the information published on the website.
  </p>

  <p>
    As the case may be, subject to notification to iHealth or errors or omissions via the section entitled «Contact» ,
    iHealth can only commit to proceeding to the necessary rectifications as soon as possible and taking into consideration
    the existing technical and material constraints.
  </p>

  <p>
    In any case, the contents or information published on the Website do not exempt any User to proceed him/herself to the
    control of the said contents and information provided.
  </p>

  <p>
    The Users are the sole masters of the right use, with discernment, of the contents and information made available to
    them on the Website.
  </p>

  <p>
    Consequently, iHealth shall not be held liable on the basis of contents or information available on the Website,
    for any direct or indirect damage, of any nature whatsoever. The information, contents and/or documents available on
    this Website are used under the sole and only responsibility of the User who bears all the consequences that might
    arise from it. No recourse may be taken against iHealth on this basis.
  </p>

  <p>
    iHealth shall not be held liable either in case of customer dissatisfaction or prejudice suffered because of judicial
    decisions or other decisions regarding said contents, documents or information published on the Website.
  </p>

  <p>
    The contents, information and/or documents available on the Website are likely to be modified at any time, and can be
    subject to updates. In particular, they may have been updated between the moment they were downloaded and the moment
    the User gets acquainted with them.
  </p>

  <p>
    Liability with regard to hyperlinks
  </p>

  <p>
    The Website makes available to the Users, for information purposes, several hyperlinks or newsfeeds leading to third
    party websites, social networks included.
  </p>

  <p>
    The Website makes available to the Users, for information purposes, several hyperlinks or newsfeeds leading to third
    party websites, social networks included.
  </p>

  <p>
    The Website makes available to the Users, for information purposes, several hyperlinks or newsfeeds leading to third
    party websites, social networks included.
  </p>

  <p>
    Consequently, iHealth shall not be held liable for any direct or indirect damage with regard to the User that may
    result from the access, content, use or malfunctions of the third party edited websites.
  </p>

  <p style="font-weight: bold">
    ARTICLE 4 - INTELLECTUAL PROPERTY
  </p>

  <p>
    iHealth Intellectual Property Rights
  </p>


  <p>
    The Website and all its elements such as, in particular, the domain names, any trademark, logo, software, arborescence,
    database, graphic charter, designs and patterns, illustrations, animations, images, texts, are protected by intellectual
    property rights.
  </p>

  <p>
    iHealth is the exclusive owner of the intellectual property rights related to the Website and all its elements.Any copy,
    reproduction, representation, adaptation, alteration, modification, unauthorized disclosure, full or partial, extraction
    or reuse, repeated or systematic, including for private purpose, of all or part of the Website, by any means whatsoever,
    may constitute a counterfeit and/or an subject to civil penalties or criminal sanctions.
  </p>

  <p>
    Hyperlinks creation
  </p>

  <p>
    The creation of hyperlinks towards the Website can only be realized upon written and prior authorization by iHealth,
    which may be removed at any time.
  </p>

  <p>
    Photo Credits
  </p>

  <p>
    The photographs appearing on the Website are from different sources. iHealth has the rights to use those photographs.
    Any copy, reproduction or use, for any purpose, from the Website, is forbidden and shall be sanctioned by the laws in
    force.
  </p>
  <p style="font-weight: bold">
    ARTICLE 5 - PERSONAL DATA
  </p>

  <p>
    iHealth has to electronically process the User’s personal data (hereinafter referred to as « Personal Data »), in
    particular while browsing on the Website, creating a user account, or via the « Contact » section on the Website.
  </p>

  <p>
    When said Personal Data is collected, the User expressly commits to only communicating to iHealth complete,
    accurate and up-to-date information without prejudicing third parties’ rights or interests.
  </p>

  <p>
    iHealth is particularly vigilant to ensure the User’s privacy protection and informs the User that his/her
    Personal Data are processed in accordance with the “Computers and Freedom” Law of July 6, 1978 (Article 27)
    as modified by the Law of August 6, 2004, as well as with the subsequent status which have their origin in French
    laws, treaties and conventions, and with the status from the European Union.
  </p>

  <p>
    Users’ personal data collection and processing have been declared to the National Commission on Computer Technology
    and Freedom (CNIL) under the declaration voucher number 1820891 v 0 dated September 18th, 2014.
  </p>

  <p>
    iHealth advises the User to consult the Personal Data Policy (hereinafter referred to as « <a href="https://ihealthlabs.eu/en/content/175-personal-data-confidentiality-policy">
    Personal Data Policy</a> ») ,
    or the special guides related to iHealth products and apps, in particular the « <a href="https://ihealthlabs.eu/en/content/175-personal-data-confidentiality-policy">
    Personal Health Data Guide</a> »
    in which the terms and conditions of User’s Personal Data processing are detailed.
  </p>

  <p style="font-weight: bold">
    ARTICLE 6 - AMENDMENT OF THE GENERAL TERMS AND CONDITIONS OF USE
  </p>


  <p>
    It is understood between the parties that iHealth reserves the right to amend freely and at any time the terms of the
    GCU. Any new version of those GCU shall enter into force as soon as they are posted online. Consequently, the User is
    advised to frequently consult the GCU on every access and during every new browsing through the Website and/or further
    use of the Website, in order to get acquainted with amendment thereto.
  </p>

  <p>
    The GCU herein are the latest version in force of the GCU. They therefore prevail over any other previous version
    and constitute the entire agreement concluded between iHealth and the User.
  </p>

  <p>
    Should he/she disagree with the GCU herein, the User shall renounce to access, browse and use the Website for
    any purpose.
  </p>

  <p>
    ARTICLE 7 - DISPUTE RESOLUTION
  </p>

  <p>
    The GCU herein are subject to French law.
  </p>

  <p>
    It is expressly agreed that in case of a dispute, and after attempting to reach an amicable settlement, any claim
    regarding the acceptance, the validity, the interpretation, the application or the execution of any provision of the
    GCU herein shall be submitted to the competent authorities at the Court of Appeal in Paris, which are the only competent
    authorities, regardless of the place of registration and notwithstanding the plurality of defendants or forced inclusion
    of a third party (guarantee call).
  </p>

  <p>
    GENERAL TERMS AND CONDITIONS OF USE OF THE APPS iHealth MyVitals and iHealth Gluco-Smart
  </p>

  <p>
    These general terms and conditions of use govern all relations between the company iHealthLabs Europe, a limited liability
    company with a capital of €624,000, of which the Head Office is located at 3 rue Tronchet - 75008 PARIS, registered
    in the Trade and Company Register of PARIS under the no. 792 514 341 (hereinafter, “the company iHealth”) and its
    customers (non-professional users) (hereinafter, “the Users or the User”) of the apps called iHealth MyVitals and
    iHealth Gluco-Smart (hereinafter, “the App” or “the Applications”).
  </p>

  <p>
    Prior to any service request, the User acknowledges having read all of these general terms and conditions of use.
    Using the Apps, iHealth MyVitals and iHealth Gluco-Smart conveys full and total acceptance of these general terms
    and conditions of use.
  </p>

  <p>
    The General Terms and Conditions may be updated at any time by the company iHealthLabs Europe, without notice,
    according to the changes to the service, changes in legislation or for any other legitimate reason. The version
    of the General Terms and Conditions, enforceable between the parties, is always available on the website,
    https://ihealthlabs.eu/.

  </p>

  <p>
    These general terms and conditions are intended to define the rights and obligations of the Parties under the
    use of the Apps, iHealth MyVitals and iHealth Gluco-Smart offered by the company, iHealthLabs Europe.
  </p>

  <p>
    General information
  </p>

  <p>
    The company iHealthLabs Europe manufactures and distributes innovative connected health products: wellness products,
    medical devices and apps for the monitoring of health data.
  </p>

  <p>
    The iHealth MyVitals app allows measurements made with iHealth connected products to be monitored.
  </p>

  <p>
    The iHealth Gluco-Smart app is dedicated to the range of iHealth blood glucose readers for tracking blood glucose
    at home, in particular for diabetic people.
  </p>

  <p>
    The User is informed that iHealth Apps are designed to work with activity bracelets, scales, blood pressure monitors,
    pulse oximeter connected bracelets and iHealth blood glucose reader systems.
  </p>
  <p>
    iHealth blood glucose readers are in vitro diagnostic medical devices for self-monitoring and self-care, that
    conform with the NF EN ISO 15197 standard.
  </p>
  <p>
    However, it is reminded here, that the information delivered by the iHealth Apps and all iHealth connected products
    acts as no substitute for medical advice from a health professional.
  </p>
  <p>
    The use of iHealth Apps and iHealth connected products is each user’s responsibility.
  </p>
  <p>
    The use of the Service requires an internet connection and a mobile device for good performance. The User’s equipment
    must be configured to allow the App to operate.
  </p>
  <p>
    Access to the service is made by identification via a username and a password entered when creating a user account.
  </p>
  <p>
    The User must fill in all the fields in a sincere and genuine way when creating their account, in order to ensure
    that the iHealth products work correctly. A valid email address is essential for the service to work correctly.
  </p>
  <p>
    Using the account is strictly personal.
  </p>
  <p>
    The User guarantees the company iHealth that they are the only person able to access data stored in their account.
    The User is obligated to keep their username and password confidential. The company iHealth does not assume any
    responsibility for damage that may be caused by fraudulent use of the Users’ account.
  </p>
  <p>
    The User commits to immediately notifying the company iHealth of any unauthorised use of their account.
    Any lost password will be reset by the company iHealth on the request of the User. The company iHealth reserves
    the right not to comply with abusive requests for changes to the password made by the User.
  </p>
  <p>
    The registered User can, at any time, request their account to be deleted by sending an email to the following
    address: support@ihealthlabs.eu. However, the User is informed that any request to delete their account can prevent
    any recovery of the data provided in the context of using the App. As such, the User ensures they have taken all
    measures possible to keep their data, prior to requesting for their account to be deleted. Otherwise, the company
    iHealth cannot be held responsible for any damage incurred by the user under this loss of data.
  </p>
  <p>In the event of these General Terms and Conditions not being adhered to, and/or fraud observed by a third party,
    the judicial authority or the services of the company iHealth, the company iHealth reserves the right to suspend
    or delete the User’s account.</p>
  <p>
    Any new request for registration following the deletion of a User’s account under the above conditions, will be
    subject to the express acceptance of the company iHealth.
  </p>
  <p>
    The iHealth app also offers a mode of connection through a third-party account (facebook, twitter, or evernote).
    It is specified, that using such a mode of connection can involve a transfer of data to third-party apps.
    It is down to the User to be aware of third-party apps’ specific terms and conditions in order to know the type
    of data likely to be collected.
  </p>
  <p>
    Availability of the app
  </p>
  <p>
    The App is available 7 days a week, 24 hours a day.
  </p>
  <p>
    The company iHealth reserves the right to change, modify or suspend, without notice, access to the App for
    maintenance reasons or for any other legitimate reason.
  </p>

  <p>
    The unavailability of the App does not entitle the User to any compensation.
  </p>
  <p>
    In the event of any planned unavailability of the App, the User is informed by any suitable means, including
    being notified by being displayed on the App’s homepage.
  </p>
  <p>
    Personal data and data confidentiality policy
  </p>
  <p>
    Under law no. 78-17 of 6th January 1978, the User is informed that the App is required to collect personal
    information for the service to run correctly.
  </p>
  <p>
    The processing of personal data collected through the App forms the subject of a declaration to CNIL
    (the National Commission for Data Protection and Liberties).
  </p>
  <p>
    The right of access, rectification and deletion of the User on their personal data is exercised by a
    letter sent to: iHealthLabs Europe, 3 rue Tronchet - 75008 PARIS or by email to the following email address:
    support@ihealthlabs.eu.
  </p>
  <p>
    The company iHealth reserves the right to request proof of identity to any person wishing to exercise the above rights.
  </p>
  <p>
    The company iHealth implements security measures concerning User data confidentiality and integrity. The company iHealth
    is committed to taking all useful and reasonable precautions to preserve the security of the data collected from the
    User and, in particular, to prevent them from being distorted, damaged or to prevent non-authorised third parties
    having access to it.
  </p>
  <p>
    The functions of the App are implemented in a secure environment ensuring the encryption of all personal data and all
    communication with the User. However, the company iHealth is obligated in this regard to an obligation of means and
    not of results.
  </p>

  <p>
    The company iHealth is the only authorised recipient to receive communication of personal data from the User.
  </p>
  <p>
    The company iHealth discloses no User data without their prior authorisation, except in the case of a judicial request.
  </p>
  <p>
    The User is informed that, in accordance with the provisions of article 20 of the Regulation (EU) 2016/679 of the European
    Parliament and of the Council of 27 April 2016, they have the right to the portability of personal data concerning them,
    processed as part of the App to function with the company iHealth.
  </p>
  <p>
    Unless expressly directed by the User with the company iHealth, formulated under article 40-1 of the Data Protection
    Act of 6 January 1978, the fate of the User’s account and its associated data will be decided by its successors.
  </p>
  <p>
    For more information, please see the <a href="https://ihealthlabs.eu/en/content/186-notice-de-donnees-de-sante">the notice on health data</a>
  </p>
  <p>Agreement of proof</p>
  <p>
    It is expressly agreed that the computer logs processed by the company iHealth’s information systems, its host and its payment providers as
    well as the data collected in using the App, are considered to be valid means of proof between the parties.
  </p>
  <p>Liability</p>
  <p>
    The company iHealth’s liability cannot be engaged, directly or indirectly, due to damage suffered by the User or their
    equipment, connected to:
  </p>
  <ul>
    <li>
      <p>
        An interruption of the Service beyond the control of the company iHealth and/or caused by any culpable behaviour or not;
      </p>
    </li>
    <li>
      <p>
        Any incident or interruption of the App caused by malfunction and/or a mismatch of the User’s equipment,
        hardware and/or software and infrastructure;
      </p>
    </li>
    <li>
      <p>
        A case of force majeure as defined by the Court of Cassation;
      </p>
    </li>
    <li>
      <p>
        The non-authorised intervention of a third party in the company iHealth’s IT system, causing
        the distribution of harmful software.
      </p>
    </li>
  </ul>
  <p>
    The data displayed by the App is for information only, and depends, in part, on the configuration made by the
    User and the software environment in which it is installed. The company iHealth cannot be held responsible for any
    inaccuracies, inconsistencies or errors of the App and the data displayed.
  </p>
  <p>
    Likewise, the company iHealth cannot be held responsible for the use of the data by applications developed by third
    parties that the User uses.
  </p>
  <p>
    It is reminded here, that the configuration of the User’s mobile devices and apps is under their control and their
    sole responsibility.
  </p>
  <p>
    Intellectual property and usage license
  </p>
  <p>
    The company iHealth grants to the User, a personal license, private and non-commercial, which gives them a right of
    use and access to the App, excluding any authorisation to reproduce what has been created, whatever its legal
    nature (source code, images, sounds, graphics, audiovisual and other sequences).
  </p>
  <p>
    Reusing the logo, graphics and trademarks of the company iHealth must be the subject of a prior request to the
    Marketing support team.
  </p>
  <p>
    The User is informed that all elements of the App are protected by the Intellectual Property law in France and
    similar rights in other countries, in particular to protection granted by international conventions to works,
    trademarks and patents.
  </p>
  <p>
    It is therefore forbidden, under penalty of civil and criminal infringement sanctions, to replicate or reproduce
    what has been created, in whole or in part, temporarily or permanently, by any means, known or unknown, in any medium,
    including and not limited to any website, intranet network, email system, removable media, network of decentralised and
    peer-to-peer exchange, weekly publications, magazines, reviews, catalogues, brochures, flyers, prospectuses, notices,
    mailings, advertising or promotional files including press and training, posters, placards, posters, maps, board, signs
    and packaging for all products, publications and works of any kind.
  </p>
  <p>
    This prohibition also extends to any reproduction or distribution on electronic media and, in particular, over the
    internet, mobile telephone networks, ADSL networks, wireless networks, cable or satellite networks, as well as on
    personal mobile devices, like digital music players, phones and touchscreen tablets.
  </p>
  <p>Applicable law and competence</p>
  <p>
    For any dispute that may arise on the interpretation or execution of this agreement, the parties agree to apply French
    law. The parties will refer their dispute to the competent courts in the framework of executing this contract.
  </p>
</div>
