
<p style="margin-left: 10%; margin-top: 15px; margin-bottom: 30px;font-size: 30px">
  Company Information</p>

<form id="applyForm" novalidate enctype="multipart/form-data" *ngIf="companyInfo" #myForm="ngForm">

  <div class="input-block">
    <label style="display: inline-block">Country</label>
    <a style="display: inline-block"><img src="../../../../assets/images/star.png"></a>
    <select name="country" [(ngModel)]="companyInfo.country">
      <option *ngFor="let country of countryList" value="{{country.code}}">
        {{country.en}}
      </option>
    </select>
  </div>

  <div class="input-block">
    <label style="display: inline-block" for="id_corporate">Corporate Name</label>
    <a style="display: inline-block"><img src="../../../../assets/images/star.png"></a>
    <input style="display: block" id="id_corporate" name="id_corporate" type="text" [(ngModel)]="companyInfo.companyName"
           #corporate="ngModel" pattern="^(?:(?=.*\w.*)(?=.*\s*))[\w\s]{1,100}$" required>

    <p *ngIf="!corporate.pristine&&corporate.invalid" style="color: #ee2200">Please input valid corporate no more than 100 characters.</p>
  </div>

  <div class="input-block">
    <label style="display: inline-block" for="id_address">Address</label>
    <a style="display: inline-block"><img src="../../../../assets/images/star.png"></a>
    <input style="display: block" id="id_address" name="id_address" type="text" [(ngModel)]="companyInfo.address"
           #addressValid="ngModel" pattern="^(?:(?=.*\w.*)(?=.*\s*))[\w\s]{1,100}$" required>

    <p *ngIf="!addressValid.pristine&&addressValid.invalid" style="color: #ee2200">Please input valid address with 1-100 characters.</p>
  </div>


  <div class="input-block">
    <label style="display: inline-block" for="id_description">Description</label>
    <a style="display: inline-block"><img src="../../../../assets/images/star.png"></a>
    <textarea style="display: block" id="id_description" name="id_description" type="text" [(ngModel)]="companyInfo.description"
              #descriptionValid="ngModel" [rangeLength]="[20,100]" required></textarea>

    <p *ngIf="!descriptionValid.pristine&&descriptionValid.invalid" style="color: #ee2200">You must input at least 20 and no more than 500 characters.</p>
  </div>

  <div class="license-block">
    <p style="display: inline-block">Business license</p>
    <a style="display: inline-block"><img src="../../../../assets/images/star.png"></a>
    <a style="position: absolute; display: block"><img id="preview" src="{{url}}/{{companyInfo.avatar.description}}/{{companyInfo.avatar.fileName}}" style="width: 80px; height: 80px"></a>
    <div>
      <input type="file" name="image" style="width: 80px;height: 80px;opacity: 0;" (change)="previewImg($event)" accept="image/*">

      <p *ngIf="!business" style="color: #ee2200">You must input business license.</p>
    </div>

  </div>




  <div class="submit-block">
    <button class="btn" style="color: #111 !important;background-color: #f8f9fa;border-color: #f8f9fa;" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="updateCompanyInfo()" [disabled]="(myForm.form.invalid || !business) || buttonDisable">Submit</button>
  </div>





</form>
