

<div style="margin: 5rem 5rem 0 5rem">


  <div class="search">
    <input class="form-control my-0 py-1 " type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchCompanyName" (ngModelChange)="inputChange()">
  </div>


  <div class="form-custom" style="margin-top: 2rem" *ngIf="companyList && companyList.length !== 0">
    <div class="form-custom-head">
      <p class="item-2">CompanyName</p>
      <p class="item-2">mDeveloper</p>
      <p class="item-1">Region</p>
      <p class="item-1">Origin</p>
      <p class="item-1">State</p>
      <p class="item-1">Operation</p>
    </div>

    <div class="form-custom-content">
      <div *ngFor="let company of companyList">

        <p class="item-2" style="line-height: 5rem; text-align: center; overflow: hidden;  white-space: pre; text-overflow:ellipsis">{{company.companyName}}</p>
        <div class="item-2" style="overflow: hidden" *ngIf="company.mDeveloper">
          <p style=" margin: 0; margin-left: 1rem; margin-top: 0.5rem; color: #007afa; overflow: hidden; text-overflow: ellipsis"><b>{{company.mDeveloper.username}}</b></p>
          <p style="margin: 0; margin-left: 1rem; overflow: hidden; text-overflow: ellipsis">{{company.mDeveloper.email}}</p>
        </div>
        <p class="item-1" style="line-height: 5rem; text-align: center">{{company.country}}</p>
        <p class="item-1" style="line-height: 5rem; text-align: center">{{company.orgin}}</p>
        <p class="item-1" style="line-height: 4rem; text-align: center; color: #007afa" *ngIf="company.state === 0">Not Audit</p>
        <p class="item-1" style="line-height: 4rem; text-align: center; color: #007afa" *ngIf="company.state === 1">Approved</p>
        <p class="item-1" style="line-height: 4rem; text-align: center; color: #007afa" *ngIf="company.state === 2">Disabled</p>
        <p class="item-1" style="line-height: 4rem; text-align: center; color: #007afa" *ngIf="company.state === 3">Active</p>


        <div class="item-1" style="line-height: 5rem; text-align: center">
          <a [routerLink]="['/company/company-modify',company._id]"><img src="../../../../assets/images/edit.png"></a>
          <!--<a (click)="checkCompanyName(company.companyName)"><i class="fa fa-search"></i></a>-->
        </div>

      </div>
    </div>
  </div>
</div>

