

<div style="margin: 5rem 5rem 0 5rem">

  <div class="form-custom" *ngIf="developerList && developerList.length !== 0">
    <div class="form-custom-head">
      <p class="item-2">People</p>
      <p class="item-1">Role</p>
      <p class="item-1">Beta</p>
      <p class="item-1" >Operation</p>
    </div>

    <div class="form-custom-content">
      <div *ngFor="let developer of developerList, let i = index">
        <div class="item-2" style="overflow: hidden">
          <p style=" margin: 0; margin-left: 1rem; margin-top: 0.5rem; color: #007afa;"><b>{{developer.username}}</b></p>
          <p style="margin: 0; margin-left: 1rem; ">{{developer.email}}</p>
        </div>
        <p class="item-1" style="line-height: 5rem; text-align: center">{{developer.type}}</p>

        <div class="item-1" style="line-height: 5rem; text-align: center" *ngIf="developer.type === 3">
          <select   [name]="'beta' + i"
                  [(ngModel)]="developer.beta" *ngIf="developer.type === 3">
            <option value=true>true</option>
            <option value=false>false</option>
          </select>
        </div>

        <div class="item-1" style="line-height: 5rem; text-align: center" *ngIf="developer.type !== 3">
          ---
        </div>

        <div class="item-1" style="line-height: 5rem; text-align: center" *ngIf="developer.type === 3">
          <a class="btn btn-primary" (click)="updateBetaPermission(developer)">Update</a>
        </div>
        <div class="item-1" style="line-height: 5rem; text-align: center" *ngIf="developer.type !== 3">
          ---
        </div>

      </div>
    </div>
  </div>
</div>

