<div class="d-flex justify-content-center" style="margin-top: 60px">
  <div class="card card-width">
    <div class="card-body">

      <div class="d-flex justify-content-center header-img">
        <img src="../../../assets/images/ihealth-logo.png">
      </div>


      <p class="text-center header-state">Create developer account</p>

      <form class="simple_form form-signIn" novalidate="novalidate" id="new_user"
            accept-charset="UTF-8" (submit)="signUp()" #myForm="ngForm">

        <div class="error"></div>

        <div class="md-form">
          <input required="required" class="form-control" id="name" name="name" type="text" [(ngModel)]="nameValue"
                 #name="ngModel" maxlength="10" [regex-name]='{"BeginRegex": "^[a-zA-Z_]{1}[\\w\\s]{0,}$", "NoSpace": "^[a-zA-Z_]{1}[\\w]{0,}$"}'>
          <label for="name">Name</label>
          <!--<span *ngIf="!name.pristine&&name.invalid" style="color: #ee2200">Please input name that begin with a letter or an underscore.</span>-->

          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="alert alert-danger">

            <div *ngIf="name.errors.required">
              Name is required
            </div>

            <div *ngIf="name.errors.BeginRegex">
              You must begin with letter or underline.
            </div>

            <div *ngIf="name.errors.NoSpace">
              Name can't contain space.
            </div>

          </div>

        </div>
        <div class="md-form">
          <input required="required" class="form-control" id="email" name="email" type="text" [(ngModel)]="emailValue"
                 #email="ngModel" pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" [maxlength]="40">
          <label for="email">Email</label>

          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
            <span>Please input valid email.</span>
          </div>


        </div>

        <div class="md-form">
          <input required="required" class="form-control" id="password" name="password" type="password"
                 [(ngModel)]="passwordValue"
                 #password="ngModel" minlength="6" maxlength="16"
                 [regex-name]='{"upperRegex": "[A-Z]", "lowerRegex": "[a-z]", "numberRegex": "[0-9]", "specharsRegex": "[\!\@\#\$\%\\*\&\\^\?]"}'>
          <label for="password">Password</label>


          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">

            <div *ngIf="password.errors.required">
              Password is required
            </div>

            <div *ngIf="password.errors.minlength">
              Password's length must longer than 5.
            </div>

            <div *ngIf="password.errors.numberRegex">
              Password must contain at least one number.
            </div>

            <div *ngIf="password.errors.upperRegex">
              Password must contain at least one upper letter.
            </div>

            <div *ngIf="password.errors.lowerRegex">
              Password must contain at least one lower letter.
            </div>

            <div *ngIf="password.errors.specharsRegex">
              Password must contain at least one spechars.
            </div>
          </div>

        </div>

        <div class="md-form">
          <input required class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                 [(ngModel)]="confirmPasswordValue"
                 #confirmPassword="ngModel" [equalTo]="password">
          <label for="confirmPassword">Retype password</label>


          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
               class="alert alert-danger">
            <span>Retype password must equal with password.</span>
          </div>
        </div>


        <div class="justify-content-between" style="display: flex">
          <div style="font-size: 15px">
            <input required type="checkbox" #agree="ngModel" [(ngModel)]="agreeValue" id="agree" name="agree">
            <p style="display: inline">I accept the </p>
            <a href="https://es.ihealthlabs.com/about-us/terms-and-conditions/" target="_blank">Terms</a>
            <p style="display: inline">&</p>
            <a href="https://es.ihealthlabs.com/about-us/privacy-policy/" target="_blank">Policies</a>

          </div>

          <div>
            <img style="width: 30px; height: 30px" src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
            <a data-target="#exampleModal" data-toggle="modal">{{country.en}}</a>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">

                <div class="selectDevice-title">
                  <a data-dismiss="modal"><img src="../../../../assets/images/x.png"></a>
                  <p>Choose your country or region</p>
                </div>

                <div>

                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>China</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of CN_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>Asia</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of AS_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>

                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>North America</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of NA_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>South America</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of LA_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>

                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>Oceania Pacific</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of OA_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>Middle East</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of ME_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>Africa</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of AF_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>Europe</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of EU_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div>
                  <div style="border-bottom: 1px solid #999999; font-size: 1.2rem; margin-top: 10px">
                    <p>Russia</p>
                  </div>
                  <div>
                    <ul style="display: flex; justify-content: space-between; flex-wrap: wrap">
                      <li *ngFor="let country of RU_countries" (click)="chooseCountry(country.en, country.origin)"
                          style="display: inline-block; list-style: none; width: 200px; height: 60px; margin-top: 10px">
                        <img src="../../../../assets/images/countries/{{country.code | lowercase}}.png"/>
                        <a>{{country.en}}</a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>


        <div style="margin-top: 20px">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!myForm.form.valid || buttonDisable">
            Create Account
          </button>
        </div>


      </form>


      <div class="text-center" style="margin-bottom: 30px; margin-top: 10px; font-size: 15px">

        <a>Already have an account?</a>
        <a routerLink="/sign-in">Sign In</a>

      </div>


    </div>
  </div>
</div>
