<div class="d-flex justify-content-center" style="margin-top: 60px">
  <div class="card card-width">
    <div class="card-body">

      <div class="d-flex justify-content-center header-img">
        <img src="../../../assets/images/ihealth-logo.png">
      </div>


      <p class="text-center header-state">Sign in to your Developer account</p>

      <form class="simple_form form-signIn" novalidate="novalidate" id="new_user"
            accept-charset="UTF-8" (submit)="signUp()" #myForm="ngForm">

        <div class="error"></div>

        <div class="md-form">
          <input required="required" class="form-control" id="name" name="name" type="text" [(ngModel)]="nameValue"
                 #name="ngModel">
          <label for="name">Name</label>
          <span *ngIf="!name.pristine&&name.invalid" style="color: #ee2200">Please input name.</span>

        </div>
        <div class="md-form">
          <input required="required" class="form-control" id="email" name="email" type="text" [(ngModel)]="emailValue"
                 #email="ngModel" pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$">
          <label for="email">Email address</label>
          <span *ngIf="!email.pristine&&email.invalid" style="color: #ee2200">Please input valid email.</span>

        </div>

        <div class="md-form">
          <input required="required" class="form-control" id="password" name="password" type="password" [(ngModel)]="passwordValue"
                  #password="ngModel" pattern="^.*(?=.{6,16})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*?]).*$">
          <label for="password">Password</label>

          <span *ngIf="!password.pristine&&password.invalid" style="color: #ee2200">
            Please input valid password: at least contain a upper letter, a lower letter, a number and a special character.
          </span>

        </div>

        <div class="md-form">
          <input required class="form-control" id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="confirmPasswordValue"
                 #confirmPassword="ngModel" [equalTo]="password">
          <label for="confirmPassword">Confirm PassWord</label>

          <span *ngIf="!confirmPassword.pristine && confirmPassword.invalid" style="color: #ee2200">ConfirmPassword must equal with password.</span>
        </div>

        <div style="font-size: 15px">
          <input required type="checkbox" #agree="ngModel" [(ngModel)]="agreeValue" id="agree" name="agree">
          <p style="display: inline">By creating an account your agree to our </p>
          <a href="#">Terms & polices</a>

        </div>

        <div style="margin-top: 20px">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!myForm.form.valid">Sign In</button>
        </div>


      </form>


      <div class="text-center" style="margin-bottom: 30px; margin-top: 10px; font-size: 15px">

        <a>Already have an account?</a>
        <a routerLink="/sign-in">Sign in</a>

      </div>


    </div>
  </div>
</div>
