

<div style="margin: 3rem 10% 3rem 10%; font-family: 'Helvetica Neue'">


  <div style="display: flex; justify-content: space-between; margin-bottom: 12px">

    <a style="width: 140px; height: 70px; line-height: 70px">
      <img style="vertical-align: center" src="../../../../assets/images/ihealth-logo.png">
    </a>

    <a style="line-height: 70px; text-align: center; font-size: 30px" >Developer Account</a>

  </div>

  <div style="width: 100%; border: 1px solid #DEDEDE; padding-bottom: 81px">

    <div style="margin: 22px 10% 0 10%">
      <p style="font-size: 36px; line-height: 44px; margin-bottom: 48px; font-weight: 400">Confirm your iHealth Developer Account</p>

      <p style="font-size: 30px; line-height: 30px; color: #8B8B8B; margin-bottom: 23px">Dear Zhang Jiali:</p>
      <p style="font-size: 20px; line-height: 30px; color: #8B8B8B;">Welcome to join us.</p>
      <p style="font-size: 20px; line-height: 30px; color: #8B8B8B;">Help us secure your iHealth Developer account by
        verifying your email address(<a style="color: #008CED">zhangjiali@ihealthlabs.com.cn</a>). </p>
      <p style="font-size: 20px; line-height: 30px; color: #8B8B8B; margin-bottom: 18px">This will let you receive notifications and password resets from iHealth Developer.</p>

      <div style="display: flex; justify-content: center; margin-bottom: 18px">
        <button style="width: 262px; height: 50px; border-radius: 3px; background-color: #008CED; color: #fff;font-size: 20px; line-height: 25px">Verify email address</button>
      </div>

      <p style="font-size: 20px; line-height: 30px; color: #8B8B8B;">Button not working? Paste the following link into your browser:</p>
      <a style="font-size: 16px; line-height: 30px; color: #008CED">http://192.168.69.111:3001/api/userConfirm?username=zhangijia&code=7QQNhbXfnsjiFhjimRPM</a>

    </div>

  </div>
</div>
