<div class="content">

  <!--<markdown src="/assets/files/Developer_Registration_Application_Instruction.md"></markdown>-->

  <div style="border-bottom: 1px solid #bbbbbb; text-align: center">
    <h1 class="title">Developer Registration Application Instruction</h1>
  </div>

  <div>
    <h3 class="sub-title">Step 1: Open your browser (IE8 and above, Firefox, Chrome, Safari)</h3>
  </div>

  <div>
    <h3 class="sub-title">Step 2: Go to <a href="https://dev.ihealthlabs.com/" target="_blank">https://dev.ihealthlabs.com/</a></h3>

    <div class="image-style">
      <img src="../../../../assets/images/step1.png" width="60%" style="border: 1px solid #bbbbbb;"/>
    </div>
  </div>

  <div>
    <h3 class="sub-title">Step 3: Create developer iHealth account</h3>

    <div class="image-style">
      <img src="../../../../assets/images/step2.png" width="60%" style="border: 1px solid #bbbbbb;"/>
    </div>
  </div>

  <div>
    <h3 class="sub-title">Step 4: Complete company info</h3>

    <h4 class="sub-sub-title">Go to Enterprise Development -> Apply</h4>

    <div class="image-style">
      <img src="../../../../assets/images/step3.png" width="60%" style="border: 1px solid #bbbbbb;"/>
    </div>

    <h4 class="sub-sub-title">Complete company info and submit</h4>
  </div>

  <div>
    <h3 class="sub-title">Step 5: Add your application</h3>
    <h4 class="sub-sub-title">Go to Enterprise Development -> App Management -> Add New App</h4>

    <div>
      <div class="image-style">
        <img src="../../../../assets/images/step4.png" width="60%" style="border: 1px solid #bbbbbb;"/>
      </div>
    </div>

    <h4 class="sub-sub-title">Complete app info and submit</h4>
  </div>

  <div>
    <h3 class="sub-title">Step 6: Application approved</h3>

    <h4 class="sub-sub-title">Go to Enterprise Development -> App Management</h4>

    <div class="image-style">
      <img src="../../../../assets/images/step5.png" width="60%" style="border: 1px solid #bbbbbb;"/>
    </div>
  </div>

  <div>
    <h3 class="sub-title">Step 7: Download SDK</h3>

  </div>


</div>
