

.card-width {
  width: 40rem;
}


/*当屏幕小于992时，显示显示样式*/
@media screen and (max-width: 992px) {
  .card-width {
    width: 30rem;
  }
}


@media screen and (max-width: 600px){
  .card-width {
    width: 22rem;
  }
}
.header-img {
  margin-top: 40px;
  margin-bottom: 20px;
}


.header-state {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}



.form-signIn {
    padding: 15px;
    margin: 0 auto;
}


.form-signIn input {
    margin-bottom: 10px;
}

.form-signIn .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
