<div style="margin-left: 5rem; margin-right: 5rem">

  <p style="margin-top: 3rem;font-size: 2rem">Native SDK</p>
  <div class="form-custom">
    <div class="form-custom-head">
      <p>ID</p>
      <p>Items</p>
      <p>Version</p>
      <p>Packing Date</p>
      <p>Detail</p>
    </div>


    <div class="form-custom-content">
      <p>001</p>
      <p>Native SDK_Android</p>
      <p>2.0.0</p>
      <p>2017-10-10</p>
      <p><img src="../../../../assets/images/add.png"></p>
    </div>
  </div>
</div>

