<div style="margin-left: 5rem; margin-right: 5rem" *ngIf="permissionOfCheck">

  <div *ngIf="schemeList">
    <p style="margin-top: 3rem;font-size: 2rem">{{title}}</p>

    <div style="overflow: hidden; margin-bottom: 2rem" *ngIf="permissionOfBeta">
      <div class="version">
        <a [class]="isBeta? 'version-a': 'version-a-active'" (click)="getSchemeList(0)">Official</a>
        <a [class]="isBeta? 'version-a-active': 'version-a'" (click)="getSchemeList(1)">Beta</a>
      </div>
    </div>

    <div class="form-custom" *ngIf="schemeList.length !== 0">
      <div class="form-custom-head">
        <p>ID</p>
        <p>Items</p>
        <p>Version</p>
        <p>Packing Date</p>
        <p>Detail</p>
      </div>


      <div class="form-custom-content" *ngFor="let scheme of schemeList; let i = index">
        <p>00{{i + 1}}</p>
        <p>{{item}}</p>
        <p>{{scheme.version}}</p>
        <p>{{scheme.createTime | date: 'yyyy/MM/dd'}}</p>
        <p>
          <a [routerLink]="['../detail',scheme._id]" routerLinkActive="active"><img src="../../../../assets/images/detail.png"></a>
        </p>
      </div>
    </div>
  </div>


  <div *ngIf="schemeList && schemeList.length === 0">
    <p style="margin-top: 5rem; font-size: 1.5rem; color: #999999">There aren't any Schemes.</p>
  </div>
</div>



<div style="margin-left: 5rem; margin-right: 5rem; margin-top: 5rem; font-size: 2rem; color: #999999" *ngIf="!permissionOfCheck">
  You don't have permission of check this scheme because of you haven't register relevant app or your app's state is not via.
</div>

<div id="loading" class="loading" *ngIf="loading"></div>
