<h1>Detail component</h1>
<div style="margin-left: 10%; margin-right: 10%">
  <div class="title-custom">
    <p>Native SDK_Android 2.0.4.6</p>
  </div>
  <div class="subhead">
    <p class="title">Description</p>
    <P class="content">1、Add interface</P>
  </div>
  <div class="subhead">
    <p class="title">Essential Information</p>
    <div class="form-custom">
      <p class="item-narrow-custom">Items</p>
      <p class="item-wide-custom">Native SDK_Android</p>
    </div>
    <div class="form-custom">
      <p class="item-narrow-custom">Version</p>
      <p class="item-wide-custom">2.0.4.6</p>
    </div>
    <div class="form-custom">
      <p class="item-narrow-custom">Packing Date</p>
      <p class="item-wide-custom">2018-01-23</p>
    </div>
  </div>
  <div class="subhead">
    <p class="title">Enclosure</p>
    <div>
      <a><img src="../../../../assets/images/annex.png">apidoc.zip</a>
    </div>
    <div>
      <a><img src="../../../../assets/images/annex.png">apidoc.zip</a>
    </div>
    <div>
      <a><img src="../../../../assets/images/annex.png">apidoc.zip</a>
    </div>
  </div>
</div>
