<div style="margin-left: 10%; margin-right: 10%" *ngIf="schemeSelected">
  <div class="title-custom">
    <p>Native SDK_Android {{schemeSelected.version}}</p>
  </div>
  <div class="subhead">
    <p class="title">Description</p>
    <P class="content">{{schemeSelected.description}}</P>
  </div>
  <div class="subhead">
    <p class="title">Essential Information</p>
    <div class="form-custom">
      <p class="item-narrow-custom">Items</p>
      <p class="item-wide-custom">Native SDK_Android</p>
    </div>
    <div class="form-custom">
      <p class="item-narrow-custom">Version</p>
      <p class="item-wide-custom">{{schemeSelected.version}}6</p>
    </div>
    <div class="form-custom">
      <p class="item-narrow-custom">Packing Date</p>
      <p class="item-wide-custom">{{schemeSelected.createTime | date: 'yyyy/MM/dd'}}</p>
    </div>
  </div>
  <div class="subhead">
    <p class="title">Enclosure</p>
    <div *ngFor="let url_private of schemeSelected.urls">
      <a href="{{url}}/api/app/download?userId={{user._id}}&token={{token}}&description={{url_private.description}}&fileName={{url_private.fileName}}"><img src="../../../../assets/images/annex.png">{{url_private.fileName}}</a>
    </div>
  </div>
</div>
