
<form>
  <div class="input-block">
    <label for="id_account">Member Account</label>
    <input id="id_account" type="text" placeholder="Email address">
  </div>

  <div class="checkbox-block">
    <p>Jurisdiction</p>

    <div class="checkbox-line">
      <div class="check-box">
        <input type="checkbox">
        <p>Create App</p>
      </div>

      <div class="check-box">
        <input type="checkbox">
        <p>Check The License Data</p>
      </div>
    </div>


    <div class="checkbox-line">
      <div class="check-box">
        <input type="checkbox">
        <p>Edit App</p>
      </div>

      <div class="check-box">
        <input type="checkbox">
        <p>Download SDK</p>
      </div>
    </div>

    <div class="checkbox-line">
      <div class="check-box">
        <input type="checkbox">
        <p>Delete App</p>
      </div>

      <div class="check-box">
        <input type="checkbox">
        <p>Add Members</p>
      </div>
    </div>

  </div>

  <div class="submit-block">
    <a class="btn btn-primary">Submit</a>
  </div>


</form>
