
<form #myForm="ngForm">
  <div class="input-block">
    <div>
      <label style="display: inline-block" for="id_account">Member Account</label>
      <a style="display: inline-block"><img src="../../../../assets/images/star.png"></a>
    </div>
    <input style="display: inline-block" id="id_account" name="id_account" type="text" placeholder="username/email" [(ngModel)]="emailOrUserName"
           required>

  </div>

  <div class="checkbox-block">
    <p>Permission</p>

    <div class="checkbox-line">
      <div class="check-box">
        <input name="createApp" type="checkbox" [(ngModel)]="createApp">
        <p>Create App</p>
      </div>

      <div class="check-box">
        <input name="checkLicenseData" type="checkbox" [(ngModel)]="checkLicenseData">
        <p>Check App</p>
      </div>
    </div>


    <div class="checkbox-line">
      <div class="check-box">
        <input name="editApp" type="checkbox" [(ngModel)]="editApp">
        <p>Edit App</p>
      </div>

      <!--<div class="check-box">-->
        <!--<input type="checkbox">-->
        <!--<p>Download SDK</p>-->
      <!--</div>-->
    </div>

    <div class="checkbox-line">
      <div class="check-box">
        <input name="deleteApp" type="checkbox" [(ngModel)]="deleteApp">
        <p>Delete App</p>
      </div>

      <!--<div class="check-box">-->
        <!--<input name="addMembers" type="checkbox" [(ngModel)]="addMembers">-->
        <!--<p>Add Members</p>-->
      <!--</div>-->
    </div>

  </div>

  <div class="submit-block">
    <button class="btn" style="color: #111 !important;background-color: #f8f9fa;border-color: #f8f9fa;" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="inviteUserToGroup()" [disabled]="!myForm.form.valid || buttonDisable">Submit</button>
  </div>


</form>
