<div style="margin: 3rem 10% 3rem 10%; font-family: 'Helvetica Neue'">
  <div style="position: relative; display: flex; justify-content: center;">
    <a style="width: auto; height: auto;">
      <img style="width: 100%; vertical-align: center"
           src="../../../../assets/images/feature_graphic_connect.png">

      <div style="position: absolute; left: 10%; bottom: 5%;">
        <div style="display: inline-block">
          <div style="padding-top: 10px; height: 50px; ">
            <a class="hehe"
               href="https://itunes.apple.com/cn/app/connect-app-for-ihealth-next/id1156796825?mt=8">
              <img style=" height: 33.5px;"
                   src="../../../../assets/images/app_store.png">

            </a>
          </div>


          <div style="padding-top: 10px; height: 50px;">
            <a class="hehe"
               href="https://play.google.com/store/apps/details?id=com.ihealth.layer">
              <img style=" height: 33.5px;"
                   src="../../../../assets/images/google_play.png">

            </a>
          </div>
        </div>

        <div style="display: inline-block; margin-left: 10px">
          <a style="display: flex; justify-content: center; align-items: center; border-radius: 8px; border: 1px solid #eee;
          background: #FFFFFF;"
             href="https://itunes.apple.com/cn/app/connect-app-for-ihealth-next/id1156796825?mt=8">
            <img style=" height: 90px;"
                 src="../../../../assets/images/qrcode_LayeredApp.png">

          </a>

        </div>

      </div>

    </a>
  </div>

  <div style="display: flex; justify-content: space-between;">
    <div>
      <div style="display: flex; line-height: 96px; align-content: center">
        <img style="width: 96px; height: 96px"
             src="../../../../assets/images/ic_launcher.png">
        <p style="font-size: 20px; color: black; height: 96px; line-height: 96px; display: inline; margin: 0">
          Connect App for
          iHealth Next</p>
      </div>
      <div>
        <p style="font-size: 20px; line-height: 30px; color: black;">The Connect App for iHealth Next enables
          iHealth partner apps to easily measure vital signs using iHealth Labs' mobile health devices. Behind
          the
          scene, the Connect App leverages mobile deep links to hide the complex measurement workflow inside
          and
          achieve simple integration with our partner apps.
        </p>
        <p style="font-size: 20px; line-height: 30px; color: black;">If you are interested in using the Connect
          App
          for iHealth Next for your vital sign measurement, please contact us at enterprise@ihealthlabs.com,
          with
          subject include "[iHealth Next Connect]".
        </p>
        <p style="font-size: 20px; line-height: 30px; color: black;">Finally, for end users, the Connect App
          also
          provides comprehensive FAQs for iHealth devices.</p>
      </div>

    </div>
  </div>


</div>

